 .navbar-layaout-new {
   background: radial-gradient(#49535afb, #444c51e9);
   border: none;
 }

 .navbar-scroll {
   background: #9D2449;
   border: none;
 }

 .navbar-brand {
   padding-top: 1px;
 }

 .navbar {
   padding: 5px 2vw;
 }


 .navbar-nav>li>a {
   font-weight: bold;
 }

 .navbar-header {
   display: flex;
   align-items: center;
 }

 .opcion-list-nav.activo {
   background-color: white;
   border-radius: 20%;
 }

 .opcion-list-nav :hover {
   background-color: white;
   border-radius: 20%;
 }

 .navbar-nav>li>a {
   font-family: Arial, Helvetica, sans-serif;
   color: white !important;
   font-size: 1rem;
   font-weight: bold;
   text-transform: uppercase;
 }

 .navbar-nav>li>a:focus,
 .navbar-nav>.dropdown:focus>a {
   color: black !important;
   background-color: white !important;
 }


 .navbar-nav>li>a:hover,
 .navbar-nav>.dropdown:hover>a {
   color: white !important;
   background-color: #b51919 !important;
 }

 .dropdown-menu {
   background-color: #f9f9f9;
 }

 .dropdown-menu>li>a {
   color: #333;
   text-transform: none;
   font-family: 'Poppins', sans-serif;
   font-size: 1.3rem;
 }

 .dropdown-menu>li>a:hover {
   background-color: #eee;
 }



 .navbar-toggle {
   position: absolute;
   right: 15px;
 }

 @media (max-width: 991px) {
   .dropdown-menu>li>a {
     color: white !important;
   }
 }
