
.grey-bg {  
    background-color: #F5F7FA;
}

.chart{
    width: 100%;
    min-height: 400px;
}

.chart2{
    width: 100%;
    min-height: 400px;
}


.chart3{
    width: 100%;
    min-height: 400px;
}


.chart4{
    width: 100%;
    min-height: 400px;
}



.chart5{
    width: 100%;
    min-height: 400px;
}


.chart6{
    width: 100%;
    min-height: 400px;
}

.chart7{
    width: 100%;
    min-height: 400px;
}




