{% extends 'base3.html' %}

{% load static %}

{% block content %}
<!-- Carga de estilos y librerías externas -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<!-- Librerías para gráficos -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<!-- Estilos propios del proyecto -->
<link rel="stylesheet" href="{% static 'pecuario/css/avicola_css.css' %}">
<link rel="stylesheet" href="{% static 'pecuario/css/estilo_pecuario.css' %}">

<main id="contents" class="site-contnts">
    <!-- BANNER con imágenes deslizables -->
    <div class="home-slider">
        <!-- Primer slide con imagen bov1.png -->
        <div class="item" data-slide="{% static 'pecuario/bovino/img/bov1.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-11 col-md-8 col-lg-7"></div>
                </div>
            </div>
        </div>

        <!-- Segundo slide con imagen bov2.png -->
        <div class="item" data-slide="{% static 'pecuario/bovino/img/bov2.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-11 col-md-8 col-lg-7"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<div>
    <div id="body_pag">
        <!-- Sección 1: Descripción general del sector bovino en Oaxaca -->
        <section id="section1" class="section">
            <h1>DESCRIPCIÓN DEL SECTOR BOVINO</h1>
            <!-- Texto introductorio con datos clave sobre municipios productores de carne y leche de bovino -->
            <p style="text-align: center; font-size: 1.8rem; margin-bottom: 30px;" id="descripcion">
                Oaxaca cuenta con <strong></strong> productores del sector bovino, se encuentra en el <strong></strong>
                a nivel
                nacional en producción de carne de bovino, con <strong></strong> productores de este sector; Oaxaca se
                encuentra en el <strong></strong> en producción de leche de vaca a nivel nacional, con
                <strong></strong> productores de este sector.
            </p>

            <!-- Contenedor con tarjetas que resumen datos importantes -->
            <div class="descripcion">
                <div class="container">
                    <!-- Tarjeta 1: Lugar a nivel mundial -->
                    <div class="card" data-target="section2">
                        <h2>📊 Lugar a nivel mundial</h2>
                        <p id="des_mundo">
                            México ocupa el <strong>6° lugar</strong> a nivel mundial en la producción de carne de
                            bovino con un volumen de producción de <strong>2,175,577 Ton</strong>; y ocupa el
                            <strong>15° lugar</strong> en producción de leche de bovino con un volumend e producción de
                            <strong>13,497,999 L</strong>.
                        </p>
                    </div>

                    <!-- Tarjeta 2: Municipios productores en Oaxaca -->
                    <div class="card" data-target="section8">
                        <h2>📍 Municipios en Oaxaca</h2>
                        <p id="des_muni">
                            En Oaxaca hay <strong>539 municipios</strong> que producen carne de bovino y <strong>537
                                municipios</strong> con producción de leche.
                        </p>
                    </div>

                    <!-- Tarjeta 3: Lugar a nivel nacional -->
                    <div class="card" data-target="section3">
                        <h2>🇲🇽 Lugar a nivel nacional</h2>
                        <p id="des_na">Oaxaca ocupa el <strong>13º lugar</strong> nacional en producción de carne de
                            bovino, contando con un volumen de producción de <strong>67,156 Ton</strong>, un peso de
                            <strong>195 KG</strong>, un precio de <strong>64 $/KG</strong>, dando un volumen de
                            producción de <strong>$4,887,111,000</strong>.
                            Mientras que ocupa el <strong>17.º lugar</strong> nacional en producción de leche de bovino,
                            teniendo un volumen de producción de <strong>151,659,000 L</strong>, un precio de <strong>8
                                $/L</strong>, y con un valor de producción <strong>$1,161,156,000</strong>. 
                        </p>
                    </div>

                    <!-- Tarjeta 4: Regiones con mayor producción -->
                    <div class="card" data-target="section6">
                        <h2>📈 Región con mayor producción</h2>
                        <p id="des_reg">
                            La región de la <strong>Costa</strong> se encuentra con la mayor producción de carne de
                            bovino, contando con <strong>45 municipios</strong> productores, con un volumen de
                            producción de <strong>17,331 Ton</strong>, un peso de <strong>227 KG</strong>, con un precio
                            de <strong>77$/KG</strong> y teniendo un valor de producción de
                            <strong>$1,336,119,000</strong>.
                            El <strong>Istmo</strong> es la región con mayor producción de leche de vaca, contando con
                            <strong>41 municipios</strong> productores, con un volumen de producción de
                            <strong>37,564,000 L</strong>, con un precio de <strong>8 $/L</strong> y teniendo un valor
                            de producción de <strong>$309,856,000</strong>.

                        </p>
                    </div>

                    <!-- Tarjeta 5: Pueblos indígenas productores -->
                    <div class="card" data-target="section6">
                        <h2>🧑🏽‍🌾 Pueblos indígenas</h2>
                        <p id="des_pue">Un total de <strong>14 pueblos indígenas</strong> se encuentran dentro de la
                            producción de
                            carne de bovino.</p>
                    </div>
                </div>
            </div>

            <!-- Contenedor de botones para filtrar entre producto y subproducto -->
            <div class="container-buttons">
                <!-- Botón para mostrar producto (carne) -->

                <a class="btn h-button active" data-text="Ver Producto" aria-label="Thanks" onclick="mostrarProducto()">
                    <svg width="277" height="62" aria-hidden="true">
                        <defs>
                            <linearGradient id="grad1">
                                <stop offset="0%" stop-color="#7a1433" />
                                <stop offset="100%" stop-color="#c95885" />
                            </linearGradient>
                        </defs>
                        <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                    </svg>
                    <!-- Letras del botón separadas para efecto visual -->
                    <span>C</span>
                    <span>a</span>
                    <span>r</span>
                    <span>n</span>
                    <span>e</span>
                </a>

                <!-- Botón para mostrar subproducto (leche) -->
                <a class="btn h-button" data-text="Ver SubProducto" aria-label="Thanks" onclick="mostrarSubProducto()">
                    <svg width="277" height="62" aria-hidden="true">
                        <defs>
                            <linearGradient id="grad2">
                                <stop offset="0%" stop-color="#7a1433" />
                                <stop offset="100%" stop-color="#c95885" />
                            </linearGradient>
                        </defs>
                        <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad2)" width="266" height="50"></rect>
                    </svg>
                    <span>L</span>
                    <span>e</span>
                    <span>c</span>
                    <span>h</span>
                    <span>e</span>
                </a>
            </div>
            <!-- Espacio visual entre secciones -->
            <div class="espacio-estilo"></div>
        </section>

        <!-- Sección 2: Producción mundial del sector bovino -->
        <section id="section2" class="section">
            <h1>PRODUCCIÓN MUNDIAL DEL SECTOR BOVINO</h1>
            <!-- Bloque principal: Carne de bovino -->
            <div class="bloque-producto">
                <H2>CARNE DE BOVINO</H2>
                <div class="contenedor_col1">
                    <!-- Tabla con ranking mundial de producción de carne -->
                    <div class="columna1">
                        <table class="tabla-datos">
                            <thead>
                                <tr>
                                    <th>RANKING</th>
                                    <th>PAIS</th>
                                    <th>VOLUMEN DE PRODUCCIÓN (TON)</th>
                                </tr>
                            </thead>
                            <!-- Aquí se llenan dinámicamente los datos de los países -->
                            <tbody id="tab_cuerpo_pais_pro">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total:</th>
                                    <th colspan="2" id="total_tabla1"> 138,453,072 </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- Iframe que muestra mapa mundial de producción -->
                    <iframe id="frame_mundo_prod" src="{% url 'iframeMundo' %}" class="columna2"
                        frameborder="0"></iframe>
                </div>
                <p class="fuentes_pie fuente_mapa"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE ORGANIZACIÓN DE LAS
                        NACIONES UNIDAS PARA LA
                        ALIMENTACIÓN Y LA AGRICULTURA (FAO), AÑO (2022)</strong>
                    <button onclick="recargarMundoProducto()" class="boton-recargar"><i
                            class="fa-solid fa-rotate"></i></button>
                </p>
            </div>

            <!-- Bloque subproducto: Leche de bovino -->
            <div class="bloque-subproducto">
                <H3>LECHE DE BOVINO</H3>
                <div class="contenedor_col2">
                    <!-- Iframe con mapa mundial para leche -->
                    <iframe id="frame_mundo_sub_prod" src="{% url 'iframeMundo' %}" class="columna1"
                        frameborder="0"></iframe>

                    <!-- Tabla con ranking mundial de producción de leche -->
                    <div class="columna2">
                        <table class="tabla-datos">
                            <thead>
                                <tr>
                                    <th>RANKING</th>
                                    <th>PAIS</th>
                                    <th>VOLUMEN DE PRODUCCIÓN (L)</th>
                                </tr>
                            </thead>

                            <!-- Datos dinámicos -->
                            <tbody id="tab_cuerpo_pais_sub_pro">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total:</th>
                                    <th colspan="2" id="total_tabla2"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <p class="fuentes_pie fuente_mapa_sub_pro"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE ORGANIZACIÓN
                        DE
                        LAS
                        NACIONES UNIDAS PARA LA
                        ALIMENTACIÓN Y LA AGRICULTURA (FAO), AÑO (2022)</strong>
                    <button onclick="recargarMundoSubProducto()" class="boton-recargar"><i
                            class="fa-solid fa-rotate"></i></button>
                </p>
            </div>
        </section>

        <!-- Sección 3: Producción nacional del sector bovino -->
        <section id="section3" class="section">
            <h1>PRODUCCIÓN NACIONAL DEL SECTOR BOVINO</h1>
            <!-- Bloque producto: carne de bovino -->
            <div class="bloque-producto">
                <H2>PRODUCCIÓN NACIONAL DE CARNE DE BOVINO</H2>

                <!-- Controles para paginación y búsqueda -->
                <div class="controls">
                    <label>
                        Mostrar
                        <select id="rowsPerPage">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        registros
                    </label>

                    <input type="text" id="searchInput" placeholder="Buscar...">
                </div>

                <!-- Tabla con datos nacionales de producción -->
                <table id="dataTable" class="tabla-datos">
                    <thead>
                        <tr>
                            <th>RANKING</th>
                            <th>ENTIDAD FEDERATIVA</th>
                            <th>VOLUMEN DE PRODUCCIÓN (TON)</th>
                            <th>PESO (KG)</th>
                            <th>PRECIO ($/KG)</th>
                            <th>VALOR DE PRODUCCIÓN ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas generadas dinámicamente -->
                    </tbody>
                    <tfoot>
                        <tr id="total_datos_tab1">
                        </tr>
                    </tfoot>
                </table>

                <!-- Controles de paginación -->
                <div class="pagination">
                    <button id="prevBtn">Anterior</button>
                    <span id="pageInfo"></span>
                    <button id="nextBtn">Siguiente</button>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA
                        2023</strong>
                </p>

                <!-- Iframe con mapa nacional -->
                <iframe id="iframe_mexico_prod" src="{% url 'iframeMexico' %}" class="mapa_mexico_sty"
                    frameborder="0"></iframe>
                <p class="fuentes_pie fuente_mapa">
                    <strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</strong>
                    <button onclick="recargarMexicoProducto()" class="boton-recargar"><i
                            class="fa-solid fa-rotate"></i></button>
                </p>
            </div>

            <!-- Bloque subproducto: leche de bovino -->
            <div class="bloque-subproducto">
                <H3>PRODUCCIÓN NACIONAL DE LECHE DE BOVINO</H3>

                <!-- Controles para paginación y búsqueda -->
                <div class="controls">
                    <label>
                        Mostrar
                        <select id="rowsPerPage2">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        registros
                    </label>
                    <input type="text" id="searchInput2" placeholder="Buscar...">
                </div>
                <!-- Tabla con datos nacionales para leche -->
                <table id="data2Table" class="tabla-datos">
                    <thead>
                        <tr>
                            <th>RANKING</th>
                            <th>ENTIDAD FEDERATIVA</th>
                            <th>VOLUMEN DE PRODUCCIÓN (L)</th>
                            <th>PRECIO ($/KG)</th>
                            <th>VALOR DE PRODUCCIÓN ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas dinámicas -->

                    </tbody>
                    <tfoot>
                        <tr id="total_datos_tab2"></tr>
                    </tfoot>
                </table>

                <!-- Paginación -->
                <div class="pagination">
                    <button id="prevBtn2">Anterior</button>
                    <span id="pageInfo2"></span>
                    <button id="nextBtn2">Siguiente</button>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA
                        2023</strong>
                </p>

                <!-- Iframe con mapa nacional para leche -->
                <iframe id="iframe_mexico_sub_prod" src="{% url 'iframeMexico' %}" class="mapa_mexico_sty"
                    frameborder="0"></iframe>
                <p class="fuentes_pie fuente_mapa">
                    <strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</strong>
                    <button onclick="recargarMexicoSubProducto()" class="boton-recargar"><i
                            class="fa-solid fa-rotate"></i></button>
                </p>
            </div>
        </section>

        <!-- Sección 5: Producción histórica del sector bovino en Oaxaca -->
        <section id="section5" class="section">
            <h1>PRODUCCIÓN HISTORICA DEL SECTOR BOVINO EN OAXACA</h1>
            <!-- Bloque producto: producción histórica de carne -->
            <div class="bloque-producto">
                <h2>PRODUCCIÓN HISTORICA DE CARNE DE BOVINO EN OAXACA (TON)</h2>
                <div class="chart-container">
                    <!-- Canvas para gráfico de línea -->
                    <canvas id="lineChart2"></canvas>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP</strong></p>
            </div>
            <!-- Bloque subproducto: producción histórica de leche -->
            <div class="bloque-subproducto">
                <h3>PRODUCCIÓN HISTORICA DE LECHE DE VACA EN OAXACA</h3>
                <div class="chart-container">
                    <canvas id="lineChart3"></canvas>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP</strong></p>
            </div>
        </section>

        <!-- Sección 6: Producción del sector bovino en Oaxaca por región -->
        <section id="section6" class="section">
            <h1>PRODUCCIÓN DEL SECTOR BOVINO EN OAXACA</h1>
            <!-- Bloque producto: carne -->
            <div class="bloque-producto">
                <h2>PRODUCCIÓN DE CARNE DE BOVINO EN OAXACA</h2>

                <table class="tabla-datos">
                    <thead>
                        <tr>
                            <th>REGION</th>
                            <th>VOLUMEN DE PRODUCCIÓN (TON)</th>
                            <th>PESO (KG)</th>
                            <th>PRECIO ($/KG)</th>
                            <th>VALOR DE PRODUCCIÓN ($)</th>
                            <th>CANTIDAD DE MUNICIPIOS</th>
                        </tr>
                    </thead>

                    <tbody id="tabla_produccion_prod_oax">

                    </tbody>
                    <tfoot>
                        <tr id="total_tab_pro_miel_oax">
                        </tr>
                    </tfoot>
                </table>
                <p class="fuentes_pie fuente_mapa_sub_pro"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE
                        AGRÍCOLA
                        2023</strong>
                </p>

                <h4>VOLUMEN DE PRODUCCIÓN POR PUEBLO INDIGENA
                </h4>

                <div class="chart-container">
                    <canvas id="lineChart4"></canvas>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA
                        2023</strong>
                </p>
            </div>
            <!-- Bloque subproducto: leche -->
            <div class="bloque-subproducto">
                <h3>PRODUCCIÓN DE LECHE DE VACA EN OAXACA</h3>

                <table class="tabla-datos">
                    <thead>
                        <tr>
                            <th>REGION</th>
                            <th>VOLUMEN DE PRODUCCIÓN (L)</th>
                            <th>PRECIO ($/KG)</th>
                            <th>VALOR DE PRODUCCIÓN ($)</th>
                            <th>CANTIDAD DE MUNICIPIOS</th>
                        </tr>
                    </thead>

                    <tbody id="tabla_produccion_sub_prod_oax">

                    </tbody>
                    <tfoot>
                        <tr id="total_tb_pro_cera_oax">
                        </tr>
                    </tfoot>
                </table>
                <p class="fuentes_pie fuente_mapa_sub_pro"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE
                        AGRÍCOLA
                        2023</strong>
                </p>

                <h4>VOLUMEN DE PRODUCCIÓN POR PUEBLO INDIGENA
                </h4>
                <div class="chart-container">
                    <canvas id="lineChart5"></canvas>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA
                        2023</strong>
                </p>
            </div>
        </section>

        <!-- Sección 7: Estacionalidad de la producción en Oaxaca -->
        <section id="section7" class="section">
            <h1>ESTACIONALIDAD DE LA PRODUCCIÓN EN OAXACA</h1>

            <!-- Bloque producto: estacionalidad carne -->
            <div class="bloque-producto">
                <p style="text-align: center; font-size: 1.8rem; margin-bottom: 30px;" id="estacionalidad">La
                    estacionalidad de la
                    producción se refiere a la variación en la frecuencia mensual con la que se produce carne de bovinos
                    en el estado de Oaxaca. Esta variación se mide mediante el
                    Índice de Volumen Físico, el cual permite identificar los meses con mayor actividad productiva. De
                    acuerdo con este indicador, <strong>Octubre</strong> se posiciona como el mes con la mayor
                    producción de carne, alcanzando un valor de <strong>160 puntos</strong> en el índice.
                </p>
                <h2>Producción de Carne de Bovino</h2>
                <div class="chart-container">
                    <canvas id="lineChart6"></canvas>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA
                        2023</strong>
                </p>
            </div>
            <!-- Bloque subproducto: estacionalidad leche -->
            <div class="bloque-subproducto">
                <p style="text-align: center; font-size: 1.8rem; margin-bottom: 30px;" id="estacionalidad2">La
                    estacionalidad de la
                    producción se
                    refiere a la variación en la frecuencia mensual con la que se
                    produce leche de
                    bovinos en el estado de Oaxaca. Esta variación se mide mediante el
                    Índice de Volumen Físico, el cual permite identificar los meses con mayor actividad productiva. De
                    acuerdo con este indicador, <strong>Noviembre</strong> se
                    posiciona como el mes con la mayor
                    producción de leche, alcanzando un valor de <strong>114.2 puntos</strong> en el índice.
                </p>
                <h3>Producción de Leche de Bovino</h3>
                <div class="chart-container">
                    <canvas id="lineChart7"></canvas>
                </div>
                <p class="fuentes_pie"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA
                        2023</strong>
                </p>
            </div>
        </section>

        <!-- Sección 8: Municipios productores de carne de bovino en Oaxaca -->
        <section id="section8" class="section bloque-producto">
            <h1>MUNICIPIOS QUE PRODUCEN CARNE DE BOVINO EN OAXACA</h1>
            <iframe loading="lazy" id="frame_oaxaca" src="{% url 'iframeOaxaca' %}" class="mapa_mexico_sty"
                frameborder="0"></iframe>
            <p class="fuentes_pie fuente_mapa"><strong>FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA
                    2023</strong>
                <button onclick="recargarOaxaca()" class="boton-recargar"><i class="fa-solid fa-rotate"></i></button>
            </p>
            <div id="botones"></div>
            <div id="titulo_regmun"></div>
            <div id="tabla"></div>
        </section>
    </div>

    <!-- Barra lateral de progreso para navegación entre secciones -->
    <div class="progress-bar">
        <div class="progress-circle" data-target="section1"><i class="fa-solid fa-book"></i></div>
        <div class="progress-circle" data-target="section2"><i class="fa-solid fa-earth-americas"></i></div>
        <div class="progress-circle" data-target="section3"><i class="fa-solid fa-map-location-dot"></i></div>
        <div class="progress-circle" data-target="section5"><i class="fa-solid fa-chart-line "></i></div>
        <div class="progress-circle" data-target="section6"><i class="fa-solid fa-chart-pie"></i></div>
        <div class="progress-circle" data-target="section7"><i class="fa-solid fa-calendar-days"></i></div>
        <div class="bloque-producto">
            <div class="progress-circle" data-target="section8"><i class="fa-solid fa-map-pin"></i></div>
        </div>
    </div>
</div>

<!-- Importa archivo JavaScript con datos o funciones para el mapa de bovinos -->
<script src="{% static 'data/mapas/pecuario/bovinos.js' %}"></script>
<!-- Importa archivo JavaScript con funciones específicas para la página bovinos -->
<script src="{% static 'pecuario/js/bovinos_js.js' %}"></script>

<!-- Script para la barra de progreso lateral y navegación entre secciones -->
<script>
    // Selecciona todos los elementos con clase 'progress-circle' (círculos de la barra lateral)
    const circles = document.querySelectorAll('.progress-circle');
    // Selecciona todas las secciones del documento
    const sections = document.querySelectorAll('section');
    const cards = document.querySelectorAll('.card');

    // Añade evento click a cada círculo para hacer scroll suave a la sección correspondiente
    circles.forEach(circle => {
        circle.addEventListener('click', () => {
            const targetId = circle.getAttribute('data-target');
            const targetSection = document.getElementById(targetId);
            targetSection.scrollIntoView({ behavior: 'smooth' });
        });
    });

    // Scroll a la sección al hacer clic
    cards.forEach(card => {
        card.addEventListener('click', () => {
            const targetId = card.getAttribute('data-target');
            const targetSection = document.getElementById(targetId);
            targetSection.scrollIntoView({ behavior: 'smooth' });
        });
    });

    // Detectar qué sección está en vista y activar el círculo correspondiente
    window.addEventListener('scroll', () => {
        let current = '';
        // Recorre todas las secciones para detectar cuál está visible en pantalla
        sections.forEach(section => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;
            // Si el scroll vertical está dentro del rango de esta sección
            if (pageYOffset >= sectionTop - sectionHeight / 3) {
                current = section.getAttribute('id');
            }
        });

        // Para cada círculo elimina la clase 'active' y la asigna sólo al círculo de la sección visible
        circles.forEach(circle => {
            circle.classList.remove('active');
            if (circle.getAttribute('data-target') === current) {
                circle.classList.add('active');
            }
        });
    });
</script>

<!-- Script para enviar datos a los iframes cuando cargan -->
<script>
    const iframe = document.getElementById('frame_oaxaca');

    // Cuando el iframe haya cargado, envía los datos de regiones con municipios al iframe
    iframe.onload = function () {
        iframe.contentWindow.postMessage(regionesConMunicipios, "*");
    };

    // Similar para el iframe del mapa mundial de producción de carne
    const mundo_producto = document.getElementById("frame_mundo_prod");
    mundo_producto.onload = function () {
        mundo_producto.contentWindow.postMessage(paises_datos_pro, "*");
    }

    // Similar para el iframe del mapa mundial de producción de leche
    const mundo_sub_producto = document.getElementById("frame_mundo_sub_prod");
    mundo_sub_producto.onload = function () {
        mundo_sub_producto.contentWindow.postMessage(paises_datos_sub_pro, "*");
    }

    // Similar para el iframe del mapa nacional de producción de leche
    const mexico_sub_producto = document.getElementById("iframe_mexico_sub_prod");
    mexico_sub_producto.onload = function () {
        mexico_sub_producto.contentWindow.postMessage(tab_mex_sub_pro, "*");
    }

    // Similar para el iframe del mapa nacional de producción de carne
    const mexico_producto = document.getElementById("iframe_mexico_prod");
    mexico_producto.onload = function () {
        mexico_producto.contentWindow.postMessage(tab_mex_pro, "*");
    }

    function recargarMexicoProducto() {
        const iframe = document.getElementById('iframe_mexico_prod');
        iframe.src = iframe.src; // Recarga el iframe actual
    }

    function recargarMundoProducto() {
        const iframe = document.getElementById('frame_mundo_prod');
        iframe.src = iframe.src; // Recarga el iframe actual
    }

    function recargarOaxaca() {
        const iframe = document.getElementById('frame_oaxaca');
        iframe.src = iframe.src; // Recarga el iframe actual
    }

    function recargarMexicoSubProducto() {
        const iframe = document.getElementById('iframe_mexico_sub_prod');
        iframe.src = iframe.src; // Recarga el iframe actual
    }

    function recargarMundoSubProducto() {
        const iframe = document.getElementById('frame_mundo_sub_prod');
        iframe.src = iframe.src; // Recarga el iframe actual
    }
</script>

<!-- Script para mostrar/ocultar bloques según el botón seleccionado y manejar estilos de botones -->
<script>
    // Función para mostrar los bloques de producto (carne) y ocultar subproductos (leche)
    function mostrarProducto() {
        document.querySelectorAll('.bloque-producto').forEach(el => el.style.display = 'block');
        document.querySelectorAll('.bloque-subproducto').forEach(el => el.style.display = 'none');

        // Recarga los iframes de mapa para miel para refrescar datos o visualización
        document.getElementById('frame_mundo_prod').contentWindow.location.reload();
        document.getElementById('iframe_mexico_prod').contentWindow.location.reload();
        document.getElementById('frame_oaxaca').contentWindow.location.reload();
    }

    // Función para mostrar los bloques de subproducto (leche) y ocultar productos (carne)
    function mostrarSubProducto() {
        document.querySelectorAll('.bloque-producto').forEach(el => el.style.display = 'none');
        document.querySelectorAll('.bloque-subproducto').forEach(el => el.style.display = 'block');

        // Recarga los iframes de mapa para cera para refrescar datos o visualización
        document.getElementById('frame_mundo_sub_prod').contentWindow.location.reload();
        document.getElementById('iframe_mexico_sub_prod').contentWindow.location.reload();

    }

    // Al cargar el documento, por defecto muestra la vista de producto (carne)
    document.addEventListener('DOMContentLoaded', () => {
        mostrarProducto();
    });

    // Añade funcionalidad a los botones de filtro para alternar clases 'active'
    const buttons = document.querySelectorAll('.container-buttons .btn');
    buttons.forEach(btn => {
        btn.addEventListener('click', e => {
            e.preventDefault(); // opcional, si no quieres que el enlace navegue

            // Quita clase 'active' de todos los botones
            buttons.forEach(b => b.classList.remove('active'));

            // Añade clase 'active' sólo al botón clickeado
            btn.classList.add('active');
        });
    });
</script>
{% endblock %}