{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas Jengibre</title>
    <!-- Enlace al CSS de Swiper -->
    <link rel="stylesheet" href="{% static 'estilos/estilo_swiper.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilon.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilo_fuente.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilo_mapas.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilo_textos.css' %}">
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .swiper {
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .swiper-slide {
        display: block;
        justify-content: center;
        align-items: center;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
    }
    /* Coloca los botones de navegación en la parte superior */
    .swiper-button-next, .swiper-button-prev {
        top: 120px;
        transform: translateY(-50%);
        z-index: 10;
    }
    .swiper-button-next {
        right: 10px;
    }
    .swiper-button-prev {
        left: 10px;
    }
    /* Coloca la paginación en la parte superior */
    .swiper-pagination {
        top: 200px;
        bottom: auto;
        z-index: 10;
        text-align: center;
    }
</style>

</head>

<body>

    <div class="swiper">
       <!-- Paginación -->
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
            <!-- 1.- Descripción -->
            <div class="swiper-slide">
                
                <iframe src="{% url 'descripcion_jengibre' %}" width="100%" height="1150px" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
              


            </div>
            
            <!-- Producción Mundial 2 -->
            <div class="swiper-slide">

              <h3>PRODUCCIÓN  <strong>MUNDIAL</strong> <strong>DE JENGIBRE</strong></h3>
               <p align="center">CIERRE AGRÍCOLA 2022</p>
              <iframe src="{% url 'tablas1Jen' %}" width="100%" height="500px" scrolling="no" frameborder="0" allowtransparency="true"></iframe><p class="fuente">
              <div class="mapa-container"><img src="{% static 'agricola/jengibre/imagenes/mapa1.jpg' %}"></div>
              <p class="fuente">
              FUENTE: ELABORACIÓN PROPIA CON DATOS DE ORGANIZACIÓN DE LAS NACIONES UNIDAS PARA LA ALIMENTACIÓN Y LA AGRICULTURA (FAO), AÑO 2022</p>
                
            </div>
            <!-- Producción Nacional 3 -->
            <div class="swiper-slide">
               <h3>PRODUCCIÓN <strong> NACIONAL DE JENGIBRE</strong> </h3><p align="center">CIERRE AGRÍCOLA 2023</p>
              <iframe src="{% url 'tablas2Jen' %}" width="100%" height="400PX" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
               <div class="mapa-container"><img src="{% static 'agricola/jengibre/imagenes/mapa2.jpg' %}"></div>
               <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</p>
            </div>

            <!-- Balanza Comercial 4 -->
            <div class="swiper-slide">
              <h3>BALANZA COMERCIAL <strong>DE JENGIBRE EN OAXACA</strong> </h3>
              <p align="center">DESTINO DE LA EXPORTACIÓN 2023</p>
              <iframe src="{% url 'tablas3Jen' %}" width="100%" height="320PX" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
              <p align="center">VOLUMEN DE COMERCIALIZACIÓN (TON)</p><iframe src="{% url 'graficas1Jen' %}" width="100%" height="780PX" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
              <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE LA ORGANIZACIÓN DE LAS NACIONES UNIDAS PARA LA ALIMENTACIÓN Y LA AGRICULTURA (FAO) Y BANCO DE MÉXICO (BANXICO)</p>

                
            </div>

            <!-- Produccion historica 5 -->
            <div class="swiper-slide">
              <h3>PRODUCCIÓN HISTORICA <strong>DE JENGIBRE EN OAXACA</strong></h3>
                  <iframe src="{% url 'graficas2Jen' %}" width="100%" height="850px" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                  <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP</p>
                  
            </div>

            <!-- Produccion en Oaxaca 6 -->
            <div class="swiper-slide">
              <h3>PRODUCCIÓN DE <strong>JENGIBRE EN OAXACA</strong></h3>
              <h4>CIERRE AGRÍCOLA 2023</h4>
                <iframe src="{% url 'tablas5Jen' %}" width="100%" height="330px" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                
                   <iframe src="{% url 'graficas3Jen' %}" width="100%" height="550px" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                     <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</p>
            </div>

           
             <!-- Municipios que producen.. 8 -->
            <div class="swiper-slide">
              <h3>MUNICIPIOS QUE PRODUCEN <strong>JENGIBRE EN OAXACA</strong></h3>
                     <iframe src="{% url 'tablas6Jen' %}" width="100%" height="420px" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                       <div class="mapa-container"><img src="{% static 'agricola/jengibre/imagenes/mapa3.jpg' %}"></div><p align="center" class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</p>
            </div>



        </div>
        <!-- Botones de navegación -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
       
    </div>

    <!-- Enlace al JavaScript de Swiper -->
    <script src="{% static 'agricola/agave/js/script.js' %}"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            loop: true,
        });
    </script>
</body>
</html>
