{% extends 'baseTienda.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_tarjeta.css' %}">

<!-- Start Shop Page  -->
<div class="container">
    <div class="row justify-content-center align-items-center g-2 pt-4">
        <div class="col-12" style="padding-top: 60px;">
            <div class="alert alert-danger " role="alert">
                <h2 style="text-align: center; color: #9d2449; font-weight: bold"> PRODUCTOS AGRICOLAS </h2>
            </div>
        </div>
    </div>
</div>

<!--Tarjetas -->
<div class="body-card">
    <div class="container">
        <a href="{% url 'productosAgricola' 'AGAVE' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/1.png' %}" alt="AGAVE">
                <h3>AGAVE</h3>
            </div>
        </a>

        <a href="{% url 'productosAgricola' 'AJONJOLI' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/2.png' %}" alt="AJONJOLI">
                <h3>AJONJOLI</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'CAFE' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/3.png' %}" alt="CAFÉ">
                <h3>CAFÉ</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'CALABACITA' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/4.png' %}" alt="CALABACITA">
                <h3>CALABACITA</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'JENGIBRE' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/5.png' %}" alt="JENGIBRE">
                <h3>JENGIBRE</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'LIMON' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/6.png' %}" alt="LIMÓN">
                <h3>LIMÓN</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'LITCHI' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/7.png' %}" alt="LITCHI">
                <h3>LITCHI</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'MANGO' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/8.png' %}" alt="MANGO">
                <h3>MANGO</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'MELON' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/9.png' %}" alt="MELÓN">
                <h3>MELÓN</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'PAPAYA' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/10.png' %}" alt="PAPAYA">
                <h3>PAPAYA</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'PEPINO' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/11.png' %}" alt="PEPINO">
                <h3>PEPINO</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'PIÑA' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/12.png' %}" alt="PIÑA">
                <h3>PIÑA</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'PLATANO' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/13.png' %}" alt="PLATANO">
                <h3>PLATANO</h3>
            </div>
        </a>
        <a href="{% url 'productosAgricola' 'SANDIA' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/14.png' %}" alt="SANDIA">
                <h3>SANDIA</h3>
            </div>
        </a>
    </div>
</div>
{% endblock %}