{% extends 'base3.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style-catalogo.css' %}">

<main id="contents" class="site-contnts">
    <div class="estilo-dos"></div>
    <div class="aux-contend">
        <div class="contenedor-rojo">
            <div class="contenido-red">
                <h2 style="text-align: center; color: #9d2449; padding: 20px; font-size: 20px;"> El desarrollo de
                    mercados impulsa el
                    crecimiento
                    de agronegocios mediante la introducción de sus productos en mercados locales, nacionales e
                    internacionales, ayudando a incrementar ventas, mejorar la imagen y diversificar ingresos. Se
                    ofrece un espacio gratuito para que los productores agroalimentarios y agroindustriales
                    publiquen información sobre sus productos, facilitando conexiones con clientes potenciales. Este
                    apartado busca crear un catálogo formal de productos exportables de Oaxaca, destacando aquellos
                    con certificaciones como orgánicas, inocuidad y NOM 070, promoviendo ingresos sostenibles y
                    bienestar para las familias oaxaqueñas. </h2>
            </div>
        </div>
    </div>
    <style>

    </style>

    <div class="card-container">
        <div class="card">
            <img class="img-fluid" src="{% static 'tienda/images/categories_img_01.jpg' %}" alt="" />
            <div class="overlay"></div>
            <a href="/categoriaAgricola">
                <div class="card-title">VER PRODUCTOS AGRICOLAS</div>
            </a>
        </div>

        <div class="card">
            <img src="{% static 'tienda/images/categories_img_02.jpg' %}" alt="" />
            <a href="/categoriaPecuario">
                <div class="card-title"> VER PRODUCTOS PECUARIOS </div>
            </a>
        </div>

        <div class="card">
            <img src="{% static 'tienda/images/categories_img_03.jpg' %}" alt="" />
            <a href="/categoriaPesquero">
                <div class="card-title">VER PRODUCTOS PESQUEROS</div>
            </a>

        </div>

        <div class="card">
            <img class="img-fluid" src="{% static 'tienda/images/acuicola.jpg' %}" alt="" />
            <a href="/categoriaAcuicola">
                <div class="card-title">VER PRODUCTOS ACUICOLAS</div>
            </a>

        </div>

                <div class="card">
            <img class="img-fluid" src="{% static 'tienda/images/mezcal.jpg' %}" alt="" />
            <a href="/categoriaAcuicola">
                <div class="card-title">VER PRODUCTOS AGROINDUSTRIALES</div>
            </a>

        </div>
    </div>




</main>

{% endblock %}