{% extends 'base3.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'tienda/css/style.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'tienda/css/responsive.css' %}">
<!-- Custom CSS -->

<main id="contents" class="site-contnts">
    <style>
        .estilo-dos {
            height: 15vh;
        }
        .contenedor-rojo {
            background-color: red;
        }
    </style>

    <div class="estilo-dos"></div>
    <div>
        <div class="contenedor-rojo">
            <h2 style="text-align: center; color: #9d2449; "> El desarrollo de mercados impulsa el crecimiento
                de agronegocios mediante la introducción de sus productos en mercados locales, nacionales e
                internacionales, ayudando a incrementar ventas, mejorar la imagen y diversificar ingresos. Se
                ofrece un espacio gratuito para que los productores agroalimentarios y agroindustriales
                publiquen información sobre sus productos, facilitando conexiones con clientes potenciales. Este
                apartado busca crear un catálogo formal de productos exportables de Oaxaca, destacando aquellos
                con certificaciones como orgánicas, inocuidad y NOM 070, promoviendo ingresos sostenibles y
                bienestar para las familias oaxaqueñas. </h2>
        </div>
    </div>

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'tienda/images/categories_img_01.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaAgricola">VER PRODUCTOS AGRICOLAS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">

                        <img class="img-fluid" src="{% static 'tienda/images/categories_img_02.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaPecuario">VER PRODUCTOS PECUARIOS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'tienda/images/categories_img_03.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaPesquero">VER PRODUCTOS PESQUEROS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">

                        <img class="img-fluid" src="{% static 'tienda/images/acuicola.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaAcuicola">VER PRODUCTOS ACUICOLAS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'tienda/images/forestal.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaForestal">VER PRODUCTOS FORESTALES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>

{% endblock %}