{% extends 'baseTienda.html' %}

{% load static %}

{% block content %}


<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2> {{ product.categoria }} </h2>
                
            </div>
        </div>
    </div>
</div>
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"> <img class="d-block w-100" src="{{ product.imagenProd.url }}" alt="First slide"> </div>
                        
                    </div>
             
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2>{{ product.nombreProducto }} </h2>
                    <h5>  Volumen de producción: {{ product.volumen_produccion }} </h5>
                    <p class="available-stock"><span> Nombre del productor: {{ product.nombreProductor }}  <br> <a style="color: brown;"> Telefono: <i class="fa-solid fa-phone"></i>  {{ product.telefono }} </a></span><p>
                    <h4>Descripción:</h4>
 
                    <p>Nombre de la marca: {{ product.nombreMarca }} <br> <i class="fa-solid fa-building-columns"></i> Municipio donde se produce: {{ product.municipio_id.nombre_municipio }} - {{ product.localidad }} <br> 
                        <i class="fa-regular fa-envelope"></i> Email: {{ product.email }}  </p>
                    

           

                </div>
            </div>
        </div>
        


    </div>
</div>





{% endblock %}



