{% extends 'base.html' %}


{% block content %}

<div class="container" style="margin-top: 3%;">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-md-1"></div>
        <div class="col-md-10"> 
            <div class="card" style="width: auto; background-color: #9d24486c;">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">RELLENA EL SIGUIENTE FORMULARIO CON LOS DATOS QUE SE TE PIDEN</h5>
                  <br>
                  <form action="/form/" method="POST"  id="contact_form">
                    {% csrf_token %}

                    <div class="form-group">
                      <label class=" control-label">NOMBRE DEL PROYECTO</label>  
                     
                      <input  name="nombre_proyecto" onkeyup="mayus(this);" placeholder="NOMBRE DEL PROYECTO" class="form-control"  type="text" >
                       
                    </div>
                    <div class="row">
                      <!-- <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">Región</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                            <select name="region" class="form-control selectpicker" >
                              <option value=" " >Por favor selecciona la región</option>
                              <option value="Sierra de Flores Magon">Sierra de Flores Magón</option>
                              <option value="Costa">Costa</option>
                              <option value="Istmo">Istmo</option>
                              <option value="Mixteca">Mixteca</option>
                              <option value="Sierra de Juarez">Sierra de Juárez</option>
                              <option value="Sierra Sur">Sierra Sur</option>
                              <option value="Valles Centrales">Valles Centrales</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div> -->
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >MUNICIPIO</label> 
                          <div class=" selectContainer">
                            <div class="input-group">
                            <select class="form-control" name="municipio" id="miSelect" style="width: 500px;">
                              <option value=" " >POR FAVOR SELECCIONA EL MUNICIPIO</option>
                              {% for mun in muni %}
                              <option value="{{mun.id}}">{{mun.nombre_municipio}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >LOCALIDAD</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input name="localidad" onkeyup="mayus(this);" placeholder="LOCALIDAD" class="form-control"  type="text" >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >TIPO DE TENENCIA DE LA TIERRA</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input name="tipo_tenencia" onkeyup="mayus(this);" placeholder="TIPO DE TENENCIA DE LA TIERRA" class="form-control"  type="text" >
                            </div>
                          </div>
                        </div>
                   
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >NOMBRE DEL CLIENTE</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="nombre_cliente" onkeyup="mayus(this);" placeholder="NOMBRE DEL CLIENTE" class="form-control"  type="text">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >RFC</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input name="rfc" placeholder="RFC" onkeyup="mayus(this);" class="form-control"  type="text">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >NÚMERO DE CRÉDITO</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="text" name="num_credito" placeholder="NÚMERO DE CRÉDITO" class="form-control"  step=".0001">
                            </div>
                          </div>
                        </div>
                   
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >NÚMERO DE CLIENTE</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="number" name="num_cliente" placeholder="NÚMERO DE CLIENTE" class="form-control"  step=".0001">
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6" id="tPersona">
                        <div class="form-group">
                          <label class="control-label" >TIPO DE PERSONA</label> 
                          <div class=" selectContainer">
                            <div class="input-group">
                            <select name="tipo_persona" class="form-control selectpicker"  >
                              <option value="" >POR FAVOR SELECCINA EL TIPO DE PERSONA</option>
                              <option value="PERSONA FISICA">PERSONA FISICA</option>
                              <option value="PERSONA MORAL">PERSONA MORAL</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-6" id="rLegal">
                        <div class="form-group">
                          <label class="control-label" >REPRESENTANTE LEGAL</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="representante_legal" onkeyup="mayus(this);" placeholder="REPRESENTANTE LEGAL" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                   
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >NUMERO DE TELEFONO DEL SOLICITANTE</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="number" name="telefono" placeholder="NUMERO DE TELEFONO DEL SOLICITANTE" class="form-control"  type="text">
                            </div>
                          </div>
                        </div>
                   
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >BENEFICIARIOS (HOMBRES)</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="number" name="beneficiarios_hombres" placeholder="BENEFICIARIOS (HOMBRES)" class="form-control"  step=".0001">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >BENEFICIARIOS (MUJERES)</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="number"  name="beneficiarios_mujer" placeholder="BENEFICIARIOS (MUJERES)" class="form-control"  step=".0001">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >TOTAL DE BENEFICIARIOS</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="number" name="total_beneficiarios" placeholder="TOTAL DE BENEFICIARIOS" class="form-control"  step=".0001">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > NUMEROS DE EMPLEOS DIRECTOS</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="number" name="empleos_directos" placeholder="NUMEROS DE EMPLEOS DIRECTOS" class="form-control"  step=".0001">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >NUMEROS DE EMPLEOS INDIRECTOS</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" type="number" name="empleos_indirectos" placeholder="NUMEROS DE EMPLEOS INDIRECTOS" class="form-control"  step=".0001">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        {% if user.groups.all.0.name == "acreimex" %}
                        <div class="form-group"> 
                          <label class=" control-label">INTERMEDIARIO FINANCIERO</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="intermediario_financiero" id="credito" class="form-control selectpicker" disabled>
                              <option  value="COOPERATIVA ACREIMEX, SOCIEDAD COOPERATIVA DE AHORRO Y PRESTAMO" selected>COOPERATIVA ACREIMEX, SOCIEDAD COOPERATIVA DE AHORRO Y PRÉSTAMO</option>
                            </select>
                          </div>
                        </div>
                        </div>
                        {% else %}

                        <div class="form-group"> 
                          <label class=" control-label">INTERMEDIARIO FINANCIERO</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="intermediario_financiero" id="credito" class="form-control selectpicker" >
                              <option value="" >SELECCIONA EL INTERMEDIARIO FINANCIERO</option>
                              <option value="COOPERATIVA ACREIMEX, SOCIEDAD COOPERATIVA DE AHORRO Y PRESTAMO">COOPERATIVA ACREIMEX, SOCIEDAD COOPERATIVA DE AHORRO Y PRÉSTAMO</option>
                              <option value="FINDECA, SOCIEDAD ANÓNIMA DE CAPITAL VARIABLE">"FINDECA", SOCIEDAD ANÓNIMA DE CAPITAL VARIABLE</option>
                              <option value="NEGOCIOS EMPRESARIALES DE APOYO DE OAXACA, SOCIEDAD ANONIMA DE CAPITAL VARIABLE">NEGOCIOS EMPRESARIALES DE APOYO DE OAXACA, SOCIEDAD ANÓNIMA DE CAPITAL VARIABLE</option>
                              <option value="FIDEICOMISOS INSTITUIDOS EN RELACION CON LA AGRICULTURA (FIRA)">FIDEICOMISOS INSTITUIDOS EN RELACIÓN CON LA AGRICULTURA (FIRA)</option>
                              <option value="CAJA SOLIDARIA SAN DIONISIO OCOTEPEC, SOCIEDAD COOPERATIVA DE AHORRO Y PRESTAMO">CAJA SOLIDARIA SAN DIONISIO OCOTEPEC, SOCIEDAD COOPERATIVA DE AHORRO Y PRESTAMO</option>
                              <option value="UNION DE CREDITO ESTATAL DE PRODUCTORES DE CAFE DE OAXACA, S.A. DE C.V.">UNION DE CREDITO ESTATAL DE PRODUCTORES DE CAFE DE OAXACA, S.A. DE C.V.</option>

                            </select>
                          </div>
                        </div>
                        </div>
                        {% endif %}

                      </div>
                    
                      
                      <div class="col-6" id="input_fira" >
                        <div class="form-group">
                          <label class="control-label" > INTERMEDIARIO FINANCIERO DE FIRA</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);"  name="intermediario_financiero_FIRA"  placeholder="INTERMEDIARIO FINANCIERO DE FIRA" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > PRODUCTO O TIPO DE CREDITO</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);"  name="producto_tipoCredito" placeholder="PRODUCTO O TIPO DE CREDITO" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >MONTO TOTAL DEL CREDITO</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input type="text"   onkeydown="return decimal(event, this);" onkeyup="mayus(this);"  name="monto_total" placeholder="MONTO TOTAL DEL CREDITO" class="form-control" >
                            </div>
                          </div>
                        </div>
                   
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > MONTO DE LAS GARANTIAS LIQUIDAS VIGENTES</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input  onkeydown="return decimal(event, this);"  name="monto_garantiasLiquidasVigente" placeholder="MONTO DE LAS GARANTIAS LIQUIDAS VIGENTES" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div> 
                      </div>

                     


                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > PORCENTAJE DE LAS GARANTIAS LIQUIDAS VIGENTES</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input  name="porcentaje_garantias" onkeydown="return decimal5(event, this);"  placeholder="PORCENTAJE DE LAS GARANTIAS LIQUIDAS VIGENTES" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >MONTO DE LA GARANTÍA LIQUIDA EJERCIDA</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeydown="return decimal(event, this);"  name="monto_garantiaLiquidaEjercida" placeholder="MONTO DE LA GARANTÍA LIQUIDA EJERCIDA" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div> 
                      </div>

                      
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >SALDO DISPONIBLE DEL FONDO DE GARANTIAS LIQUIDAS</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeydown="return decimal(event, this);"  name="saldo_disponible" placeholder="SALDO DISPONIBLE DEL FONDO DE GARANTIAS LIQUIDAS" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > MONTO RECUPERADO DE LOS CREDITOS OTORGADOS </label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input  onkeydown="return decimal(event, this);"  name="monto_recuperado" placeholder="MONTO RECUPERADO DE LOS CREDITOS OTORGADOS" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div> 
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >INCUMPLIMIENTO DEL CREDITO POR VENCIMIENTO</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" name="inclumplimiento_credito" placeholder="INCUMPLIMIENTO DEL CREDITO POR VENCIMIENTO" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >APORTACIÓN DEL PRODUCTOR</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input   onkeydown="return decimal(event, this);"  name="aportacion_productor" placeholder="APORTACIÓN DEL PRODUCTOR" class="form-control"  type="number">
                            </div>
                          </div>
                        </div>
                      </div>

                 
                
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > FECHA DE INCIO DE CREDITO</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input type="date"   name="fecha_inicio" id="" class="form-control">
                          
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > FECHA DE TERMINO DE CREDITO</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input type="date"   name="fecha_termino" id="" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > TASA DE INTERES ANUAL</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeydown="return decimal5(event, this);"  name="tasa_interes" placeholder="TASA DE INTERES ANUAL" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >PERIODO DE PAGO</label> 
                          <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="periodo_pago" class="form-control selectpicker" >
                              <option value="" >SELECCIONA EL PERIODO DE PAGO</option>
                              <option value="MENSUAL">MENSUAL</option>
                              <option value="BIMESTRAL">BIMESTRAL</option>
                              <option value="TRIMESTRAL">TRIMESTRAL</option>
                              <option value="CUATRIMESTRAL">CUATRIMESTRAL</option>
                              <option value="SEMESTRAL">SEMESTRAL</option>
                              <option value="ANUAL">ANUAL</option>
                              <option value="AL VENCIMIENTO">AL VENCIMIENTO</option>

                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      
  
                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">TIPO DE CONCEPTO SOLICITADO</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="tipo_concepto" class="form-control selectpicker" >
                              <option value="" >SELECIONA EL TIPO DE CONCEPTO SOLICITADO</option>
                              <option value="INFRAESTRUCTURA AGROALIMENTARIA">INFRAESTRUCTURA AGROALIMENTARIA</option>
                              <option value="INFRAESTRUCTURA AGROINDUSTRIAL">INFRAESTRUCTURA AGROINDUSTRIAL</option>
                              <option value="MECANIZACION">MECANIZACIÓN</option>
                              <option value="EQUIPAMIENTO">EQUIPAMIENTO</option>
                              <option value="AGRICULTURA PROTEGIDA">AGRICULTURA PROTEGIDA</option>
                              <option value="REHABILITACION">REHABILITACIÓN</option>
                              <option value="CAPITAL DE TRABAJO">CAPITAL DE TRABAJO</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">DESCRIPCIÓN DEL PROYECTO</label>
                              <div class="inputGroupContainer">
                                <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <textarea onkeyup="mayus(this);" class="form-control" name="descripcion_concepto" id=""></textarea>
                              <span></span>
                                </div>
                              </div>
                        </div>
                      </div>                      
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div class="form-group"> 
                          <label class=" control-label">SUBSECTOR</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="subsector" id="subsector" class="form-control selectpicker" >
                              <option value="0" >SELECCIONA EL SUBSECTOR</option>
                              <option value="Agricola">AGRICOLA</option>
                              <option value="Pecuario">PECUARIO</option>
                              <option value="Acuicola">ACUICOLA</option>
                              <option value="Pesquero">PESQUERO</option>
                              <option value="Forestal">FORESTAL</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                    <div id="sub-Agricola">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >CULTIVO</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input name="cultivo" onkeyup="mayus(this);" placeholder="CULTIVO" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" > VARIEDAD</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="variedad" onkeyup="mayus(this);" placeholder="VARIEDAD" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >SUPERFICIE (HAS.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="superficie"  onkeydown="return decimal2(event, this);" placeholder="SUPERFICIE" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >VOLUMEN DE PRODUCCIÓN ANUAL (TON.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input name="volumen_produccion_anual" onkeyup="mayus(this);"  placeholder="VOLUMEN DE PRODUCCIÓN ANUAL" class="form-control"  type="text">
                          
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="sub-Pecuario">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >ESPECIE</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="especie" onkeyup="mayus(this);" placeholder="ESPECIE" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" > VARIEDAD</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="variedad" onkeyup="mayus(this);" placeholder="VARIEDAD" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >FIN ZOOTÉCNICO</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input name="fin_zootecnico" onkeyup="mayus(this);" placeholder="FIN ZOOTÉCNICO" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >VOLUMEN DE PRODUCCIÓN ANUAL (TON.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input onkeyup="mayus(this);" name="volumen_produccion_anual" placeholder="VOLUMEN DE PRODUCCIÓN ANUAL" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
  
                     
                      </div>

                    </div>

                    <div id="sub-Acuicola">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" > ESPECIE</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="especie" onkeyup="mayus(this);" placeholder="ESPECIE" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" > VARIEDAD</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="variedad" onkeyup="mayus(this);" placeholder="VARIEDAD" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >VOLUMEN DE PRODUCCIÓN (KG/M2)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input onkeydown="return decimal2(event, this);" name="volumen_produccion" placeholder="VOLUMEN DE PRODUCCIÓN (KG/M2)" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >VOLUMEN DE PRODUCCIÓN ANUAL (TON.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input onkeyup="mayus(this);" name="volumen_produccion_anual" placeholder="VOLUMEN DE PRODUCCIÓN ANUAL" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
  
                     
                      </div>

                    </div>


                    <div id="sub-Pesquero">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" > ESPECIE QUE CAPTURA</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input onkeyup="mayus(this);" name="especie_captura" placeholder="ESPECIE QUE CAPTURA" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" > VARIEDAD</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input onkeyup="mayus(this);" name="variedad" placeholder="VARIEDAD" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >PESO VIVO ANUAL (TON.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input onkeyup="mayus(this);" name="peso_vivo_anual" placeholder="PESO VIVO ANUAL (Ton.)" class="form-control"  type="number">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >PESO DESEMBARCADO ANUAL (TON.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input onkeyup="mayus(this);" name="peso_desembarcado_anual" placeholder="PESO DESEMBARCADO ANUAL (TON.)" class="form-control"  type="number">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="sub-Forestal">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >ESPECIE FORESTAL</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input onkeyup="mayus(this);" name="especie_forestal" placeholder="ESPECIE FORESTAL" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" > VARIEDAD</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input onkeyup="mayus(this);" name="variedad" placeholder="VARIEDAD" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >SUPERFICIE (HAS.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input  onkeydown="return decimal2(event, this);" name="superficie" placeholder="SUPERFICIE" class="form-control"  type="text">
                            <span></span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="form-group">
                            <label class="control-label" >VOLUMEN DE PRODCCION ANUAL (TON.)</label> 
                              <div class="inputGroupContainer">
                              <div class="input-group">
                            <input onkeyup="mayus(this);"  name="volumen_produccion_anual" placeholder="VOLUMEN DE PRODCCION ANUAL" class="form-control"  type="text">
                          
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">TIPO DE MERCADO</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="tipo_mercado" class="form-control selectpicker" >
                              <option value="" >SELECCIONA EL TIPO DE MERCADO</option>
                              <option value="LOCAL">LOCAL</option>
                              <option value="REGIONAL">REGIONAL</option>
                              <option value="ESTATAK">ESTATAL</option>
                              <option value="NACIONAL">NACIONAL</option>
                              <option value="INTERNACIONAL">INTERNACIONAL</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >PRODUCTO QUE COMERCIALIZA</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input onkeyup="mayus(this);" name="producto_comercializa" placeholder="PRODUCTO QUE COMERCIALIZA" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 

                    <div class="row">
                      
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >STATUS</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input onkeyup="mayus(this);" name="status" placeholder="STATUS" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >NOMBRE DEL TECNICO QUE ATIENDE EL PROYECTO </label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input onkeyup="mayus(this);" name="tecnico" placeholder="NOMBRE DEL TECNICO QUE ATIENDE EL PROYECTO" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                     

                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >OBSERVACIONES </label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                              <textarea name="observaciones" onkeyup="mayus(this);"  placeholder="OBSERVACIONES" class="form-control" ></textarea>
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                   
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">                    <button class="btn"  style="width: 250px; height: 80px; font-size: larger ; font-weight: bold; background-color: #9d2449; color: white;">Enviar datos</button>
                      </div>

                    </div>
                 
                  </form>
                  <br>
                </div>
              </div>
            </div>
        <div class="col-md-1"></div>
    </div>
    
</div>






   
{% endblock %}





