{% extends 'base.html' %}


{% block content %}

<div class="container" style="margin-top: 3%;">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-md-1"></div>
        <div class="col-md-10"> 
            <div class="card" style="width: auto; background-color: rgb(182, 231, 163);">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">RELLENA EL SIGUIENTE FORMUALRIO CON LOS DATOS QUE SE TE PIDEN</h5>
                  <br>
                  <form action="/form/" method="POST"  id="contact_form">
                    {% csrf_token %}

                    <div class="form-group">
                      <label class=" control-label">Nombre del proyecto</label>  
                     
                      <input  name="nombre_proyecto" placeholder="Nombre del proyecto" class="form-control"  type="text" required>
                       
                    </div>
                    <div class="row">
                      <!-- <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">Región</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                            <select name="region" class="form-control selectpicker" required>
                              <option value=" " >Por favor selecciona la región</option>
                              <option value="Sierra de Flores Magon">Sierra de Flores Magón</option>
                              <option value="Costa">Costa</option>
                              <option value="Istmo">Istmo</option>
                              <option value="Mixteca">Mixteca</option>
                              <option value="Sierra de Juarez">Sierra de Juárez</option>
                              <option value="Sierra Sur">Sierra Sur</option>
                              <option value="Valles Centrales">Valles Centrales</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div> -->
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Municipio</label> 
                          <div class=" selectContainer">
                            <div class="input-group">
                            <select name="municipio" class="form-control selectpicker" required>
                              <option value=" " >Por favor selecciona el municipio</option>
                              {% for mun in muni %}
                              <option value="{{mun.id}}">{{mun.nombre_municipio}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Localidad</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input name="localidad" placeholder="Localidad" class="form-control"  type="text" required>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Tipo de tenencia de la tierra</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <input name="tipo_tenencia" placeholder="Tipo de tenencia de la tierra" class="form-control"  type="text" required>
                            </div>
                          </div>
                        </div>
                   
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Tipo de persona</label> 
                          <div class=" selectContainer">
                            <div class="input-group">
                            <select name="tipo_persona" class="form-control selectpicker" required >
                              <option value=" " >Por favor selecciona el tipo de persona</option>
                              <option value="Persona Fisica">Persona Fisica</option>
                              <option value="Persona Moral">Persona Moral</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Número de Crédito</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="num_credito" placeholder="Número de Crédito" class="form-control"  type="number">
                            </div>
                          </div>
                        </div>
                   
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Número de Cliente</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="num_cliente" placeholder="Número de Cliente" class="form-control"  type="number">
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Nombre del cliente</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="nombre_cliente" placeholder="Nombre del cliente" class="form-control"  type="text">
                            </div>
                          </div>
                        </div>
                   
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Representante Legal</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="representante_legal" placeholder="Representante legal" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Numero de telefono del solicitante</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="telefono" placeholder="Numero celular" class="form-control"  type="text">
                            </div>
                          </div>
                        </div>
                   
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Producto o tipo de credito</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="producto_tipoCredito" placeholder="Producto o tipo de credito" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Monto total del credito</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="monto_total" placeholder="Monto total del credito" class="form-control"  type="number">
                            </div>
                          </div>
                        </div>
                   
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Fecha de inicio del credito</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input type="date" name="fecha_inicio" id="" class="form-control">
                          
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Fecha de termino del credito</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input type="date" name="fecha_termino" id="" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Tasa de interes anual</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="tasa_interes" placeholder="Tasa de interes" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Periodo de pago</label> 
                          <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="periodo_pago" class="form-control selectpicker" >
                              <option value=" " >Por favor selecciona el periodo de pago</option>
                              <option value="mensual">Mensual</option>
                              <option value="bimestral">Bimestral</option>
                              <option value="trimestral">Trimestral</option>
                              <option value="cuatrimestral">Cuatrimestral</option>
                              <option value="semestral">Semestral</option>
                              <option value="anual">Anual</option>
                              <option value="anual">Al vencimiento</option>

                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>


              

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Monto de las garantias liquidas vigentes</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="monto_garantiasLiquidasVigente" placeholder="Monto de las garantias liquidas vigentes" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div> 
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Porcentaje de las garantias liquidas</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="porcentaje_garantias" placeholder="Porcentaje de las garantias liquidas" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Monto de la garantía liquida Ejercida</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="monto_garantiaLiquidaEjercida" placeholder="Monto de la garantia liquida ejercida" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div> 
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Saldo Disponible del Fondo de Garantias Liquidas</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="saldo_disponible" placeholder="Saldo Disponible del Fondo de Garantias Liquidas" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Monto recuperado de los creditos otorgados </label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="monto_recuperado" placeholder="Monto Recuperado de los Creditos Otorgados" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div> 
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Incumplimiento del credito por vencimiento u otra cosa</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="inclumplimiento_credito" placeholder="Incumplimiento del credito por vencimiento u otra cosa" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">Intermediario Financiero</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="intermediario_financiero" class="form-control selectpicker" >
                              <option value=" " >Selecciona el intemediario financiero</option>
                              <option value="COOPERATIVA ACREIMEX, SOCIEDAD COOPERATIVA DE AHORRO Y PRESTAMO">COOPERATIVA ACREIMEX, SOCIEDAD COOPERATIVA DE AHORRO Y PRÉSTAMO</option>
                              <option value="'FINDECA', SOCIEDAD ANÓNIMA DE CAPITAL VARIABLE">"FINDECA", SOCIEDAD ANÓNIMA DE CAPITAL VARIABLE</option>
                              <option value="NEGOCIOS EMPRESARIALES DE APOYO DE OAXACA, SOCIEDAD ANONIMA DE CAPITAL VARIABLE">NEGOCIOS EMPRESARIALES DE APOYO DE OAXACA, SOCIEDAD ANÓNIMA DE CAPITAL VARIABLE</option>
                              <option value="FIDEICOMISOS INSTITUIDOS EN RELACION CON LA AGRICULTURA (FIRA)">FIDEICOMISOS INSTITUIDOS EN RELACIÓN CON LA AGRICULTURA (FIRA)</option>
                              <option value="CAJA SOLIDARIA SAN DIONISIO OCOTEPEC, SOCIEDAD COOPERATIVA DE AHORRO Y PRESTAMO">CAJA SOLIDARIA SAN DIONISIO OCOTEPEC, SOCIEDAD COOPERATIVA DE AHORRO Y PRESTAMO</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>
  
                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">Tipo de Concepto Solicitado</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="tipo_concepto" class="form-control selectpicker" >
                              <option value=" " >Selecciona el tipo de concepto solicitado</option>
                              <option value="Infraestructura Agroalimentaria">INFRAESTRUCTURA AGROALIMENTARIA</option>
                              <option value="Infraestructura Agroindustrial">INFRAESTRUCTURA AGROINDUSTRIAL</option>
                              <option value="Mecanizacion">MECANIZACIÓN</option>
                              <option value="Equipamiento">EQUIPAMIENTO</option>
                              <option value="Agricultura Protegida">AGRICULTURA PROTEGIDA</option>
                              <option value="Rehabilitacion">REHABILITACIÓN</option>
                              <option value="Capital de Trabajo">CAPITAL DE TRABAJO</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>

                      
                    </div>


                    <div class="row">
                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">Descripción del proyecto</label>
                              <div class="inputGroupContainer">
                                <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <textarea class="form-control" name="descripcion_concepto" id=""></textarea>
                              <span></span>
                                </div>
                              </div>
                        </div>
                      </div>
  
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Beneficiarios (Hombres)</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="beneficiarios_hombres" placeholder="Beneficiarios Hombres" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      
                    </div>


                    
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Beneficiarios (Mujeres)</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="beneficiarios_mujer" placeholder="Beneficiarios Mujeres" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Total de Beneficiarios</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="total_beneficiarios" placeholder="Total de beneficiarios" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Numero de Empleos Directos</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="empleos_directos" placeholder="Numero de Empleos Directos" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Numero de Empleos Indirectos</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="empleos_indirectos" placeholder="Numero de Empleos Indirectos" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">

                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">Sub Sector</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="subsector" class="form-control selectpicker" >
                              <option value=" " >Selecciona el Sub Sector</option>
                              <option value="Agricola">Agrícola</option>
                              <option value="Pecuario">Pecuario</option>
                              <option value="Acuicola">Acuicola</option>
                              <option value="Pesquero">Pesquero</option>
                              <option value="Forestal">Forestal</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Especie</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="especie" placeholder="Especie" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" > Variedad</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="variedad" placeholder="Variedad" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Cultivo</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="cultivo" placeholder="Cultivo" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Superficie</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="superficie" placeholder="Superficie" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Volumen de Producción Anual (Ton.)</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="volumen_produccion_anual" placeholder="Volumen de Producción Anual" class="form-control"  type="number">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group"> 
                          <label class=" control-label">Tipo de Mercado</label>
                            <div class=" selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="tipo_mercado" class="form-control selectpicker" >
                              <option value=" " >Selecciona el Tipo de Mercado</option>
                              <option value="Local">Local</option>
                              <option value="Regional">Regional</option>
                              <option value="Estatal">Estatal</option>
                              <option value="Nacional">Nacional</option>
                              <option value="Internacional">Internacional</option>
                            </select>
                          </div>
                        </div>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label class="control-label" >Producto que Comercializa</label> 
                            <div class="inputGroupContainer">
                            <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input name="producto_comercializa" placeholder="Producto que Comercializa" class="form-control"  type="text">
                          <span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>  <br>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">                    <button class="btn btn-success" style="width: 250px; height: 80px; font-size: larger ; font-weight: bold;">Enviar datos</button>
                      </div>

                    </div>
                 
                  </form>
                  <br>
                </div>
              </div>
            </div>
        <div class="col-md-1"></div>
    </div>
    
</div>


   
{% endblock %}





