{% extends 'base.html' %}

{% block content %}

<div
    class="container">
    <div class="row g-2">
        <div class="col-sm-12 pt-2">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Región</th>
                    <th scope="col">Cantidad de Proyectos</th>
                    <th scope="col">Monto de Financiamiento</th>
                    <th scope="col">Garanías Liquidas</th>
                    <th scope="col">Beneficiarios</th>
                    <th scope="col">Cantidad de Municipios</th>
                    <th scope="col">E-100</th>
                    <th scope="col">Pueblos Indigenas</th>
                    <th scope="col">Empleos Directos</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Valles Centrales</th>
                    {% for region in conteo_VC %}
                    <td> {{ region.total }} </td>
                    {% endfor %}
                    {% for monto_VC in monto_VC %}
                    <td> ${{ monto_VC.monto_total }} </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                  </tr>
                  <tr>
                    <th scope="row">Istmo</th>
                    {% for region_IST in conteo_IST %}
                    <td> {{ region_IST.total }} </td>
                    {% endfor %}                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Costa</th>
                    {% for conteo_COS in conteo_COS %}
                    <td> {{ conteo_COS.total }} </td>
                    {% endfor %} 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Papaloapan</th>
                    {% for conteo_PAPA in conteo_PAPA %}
                    <td> {{ conteo_PAPA.total }} </td>
                    {% endfor %}  
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Mixteca</th>
                    {% for conteo_MIX in conteo_MIX %}
                    <td> {{ conteo_MIX.total }} </td>
                    {% endfor %}  
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Sierra de Juarez</th>
                    {% for conteo_SJ in conteo_SJ %}
                    <td> {{ conteo_SJ.total }} </td>
                    {% endfor %}  
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Sierra Sur</th>
                    {% for conteo_SS in conteo_SS %}
                    <td> {{ conteo_SS.total }} </td>
                    {% endfor %} 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Sierra de Flores Magon</th>
                    {% for conteo_SFM in conteo_SFM %}
                    <td> {{ conteo_SFM.total }} </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>


<div class="container">
    <div class="row my-4">
        <div class="col-sm-12 col-md-6">
            <div id="chart" class="chart"></div>
        </div>
        </div>

    <div class="row my-4">
        <div class="col-sm-12 col-md-6">
            <div id="chart2" class="chart2"></div>
        </div>
    </div>

    
</div>

<div class="container">

<div class="row my-4">
    <div class="col-sm-12 col-md-6">
        <div id="chart3" class="chart3"></div>
    </div>
    
</div>

</div>


{% endblock %}

