{% extends 'base.html' %}

{% block content %}

<div
    class="container">
    <div class="row g-2">
        <div class="col-sm-12 pt-2">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Región</th>
                    <th scope="col">Cantidad de Proyectos</th>
                    <th scope="col">Monto de Financiamiento</th>
                    <th scope="col">Garanías Liquidas</th>
                    <th scope="col">Beneficiarios</th>
                    <th scope="col">Cantidad de Municipios</th>
                    <th scope="col">E-100</th>
                    <th scope="col">Pueblos Indigenas</th>
                    <th scope="col">Empleos Directos</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Valles Centrales</th>
                    <td>{{ num_proyectos_VC }}</td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                  </tr>
                  <tr>
                    <th scope="row">Istmo</th>
                    <td>{{ num_proyectos_IST }}  </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Costa</th>
                    <td>  </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Papaloapan</th>
                    <td>  </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Mixteca</th>
                    <td>{{ num_proyectos_MIX }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Sierra de Juarez</th>
                    <td>  </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Sierra Sur</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Sierra de Flores Magon</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>


<div class="container">
    <div class="row my-4">
        <div class="col-sm-12 col-md-6">
            <div id="chart" class="chart"></div>
        </div>
        </div>

    <div class="row my-4">
        <div class="col-sm-12 col-md-6">
            <div id="chart2" class="chart2"></div>
        </div>
    </div>

    
</div>

<div class="container">

<div class="row my-4">
    <div class="col-sm-12 col-md-6">
        <div id="chart3" class="chart3"></div>
    </div>
    
</div>

</div>


{% endblock %}

