{% extends 'basegraficos.html' %}


{% block content %}

<style>
  .precio-old {
    background-color: rgb(37, 187, 17);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: 170px;
    margin-top: 200px;
    font-weight: bold;
  }

    @media (max-width: 600px) {
    .precio-old {
      margin-left: 70px;
    }
  }

    footer {
  background-color: #991B3D;
    color: white;
    padding: 20px;
    text-align: center;
  }
</style>

<div class="container py-4" style="padding-top: 75px;">

  <div class="alert alert-danger" role="alert">
    <h1 class="mb-4 text-center">Historial de Precios de Cultivos</h1>
    <p class="text-center">Rango: {{ rango_texto }}</p>
    <p class="text-center" style="font-weight: bolder;">Precios expresados en Dolares</p>
    <p style="text-align: justify;">En esta sección podrá explorar los precios a nivel internacional de productos
      agrícolas y pecuarios que cotizan en los mercados de futuros de las principales bolsas de valores del mundo.
      Los mercados de futuros consisten en la realización de contratos de compra o venta de ciertas materias primas en
      una fecha futura, pactando en el presente el precio, la cantidad y la fecha de vencimiento. Actualmente estas
      negociaciones se realizan en mercados organizados y especulativos.
      Desde estos mercados son fijados los precios de productos como el café, maíz, arroz, cacao, trigo, avena, azúcar,
      algodón y ganado bovino y porcino de acuerdo con la oferta y demanda a nivel internacional.
      Esta sección permitirá conocer los precios al que cotizan los productos en tiempo real, evitando desfases en la
      entrega de la información con el fin de tomar mejores decisiones durante la comercialización.
    </p>
  </div>

  <div class="row g-4">
    <!-- Maíz -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_maiz_mxn_kg }} MXN/kg</span>
          <div id="grafico-maiz" style="height: 400px;"></div>
        </div>
      </div>
    </div>

    <!-- Café -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_cafe_mxn_kg }} MXN/kg </span>
          <div id="grafico-cafe" style="height: 400px;"></div>
        </div>
      </div>
    </div>

    <!-- Cacao -->
    <div class="col-md-6">
      <div class="card shadow-sm pt-3">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_cacao_mxn_kg }} MXN/kg</span>
          <div id="grafico-cacao" style="height: 400px;"></div>
        </div>
      </div>
    </div>



    <!-- ARROZ -->
    <div class="col-md-6">
      <div class="card shadow-sm pt-3">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_arroz_mxn_kg }} MXN/kg</span>
          <div id="grafico-arroz" style="height: 400px;"></div>
        </div>
      </div>
    </div>

    <!-- SOYA -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_soya_mxn_kg }} MXN/kg </span>
          <div id="grafico-soya" style="height: 400px;"></div>
        </div>
      </div>
    </div>



    <!-- SOYA -->
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_avena_mxn_kg }}  MXN/kg  </span>
          <div id="grafico-avena" style="height: 400px;"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_azucar_mxn_kg }} MXN/kg  </span>
          <div id="grafico-azucar" style="height: 400px;"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <span class="precio-old">Precio Actual: {{ precio_algodon_mxn_kg }} MXN/kg </span>
          <div id="grafico-algodon" style="height: 400px;"></div>
        </div>
      </div>
    </div>







  </div>


  <footer>
  <p>&copy; Fuente: Elaboración propia con datos de Yahoo Finance</p>
</footer>

</div>


<script>
  const fechas_maiz = {{ fechas_maiz| safe }};
  const velas_maiz = {{ velas_maiz| safe }};
  const fechas_cafe = {{ fechas_cafe| safe }};
  const velas_cafe = {{ velas_cafe| safe }};
  const fechas_cacao = {{ fechas_cacao| safe }};
  const velas_cacao = {{ velas_cacao| safe }};
  const fechas_arroz = {{ fechas_arroz| safe }};
  const velas_arroz = {{ velas_arroz| safe }};
  const fechas_soya = {{ fechas_soya| safe }};
  const velas_soya = {{ velas_soya| safe }};
  const fechas_avena = {{ fechas_avena| safe }};
  const velas_avena = {{ velas_avena| safe }};
  const fechas_azucar = {{ fechas_azucar| safe }};
  const velas_azucar = {{ velas_azucar| safe }};
  const fechas_algodon = {{ fechas_algodon| safe }};
  const velas_algodon = {{ velas_algodon| safe }};

  console.log("Fechas café:", fechas_cafe);
  console.log("Velas café:", velas_cafe);


  echarts.init(document.getElementById('grafico-maiz')).setOption({
    title: { text: 'MAÍZ (ZC=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_maiz },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_maiz
    }]
  });

  echarts.init(document.getElementById('grafico-cafe')).setOption({
    title: { text: 'CAFÉ (KC=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_cafe },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_cafe
    }]
  });

  echarts.init(document.getElementById('grafico-cacao')).setOption({
    title: { text: 'CACAO (CC=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_cacao },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_cacao
    }]
  });


  echarts.init(document.getElementById('grafico-arroz')).setOption({
    title: { text: 'ARROZ (ZR=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_arroz },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_arroz
    }]
  });

  echarts.init(document.getElementById('grafico-soya')).setOption({
    title: { text: 'SOYA (ZS=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_soya },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_soya
    }]
  });

  echarts.init(document.getElementById('grafico-avena')).setOption({
    title: { text: 'AVENA (ZO=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_avena },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_avena
    }]
  });

  echarts.init(document.getElementById('grafico-azucar')).setOption({
    title: { text: 'AZUCAR (SB=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_azucar },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_azucar
    }]
  });

  echarts.init(document.getElementById('grafico-algodon')).setOption({
    title: { text: 'ALGODON (CT=F)' },
    tooltip: { trigger: 'axis' },
    xAxis: { data: fechas_algodon },
    yAxis: { scale: true },
    series: [{
      type: 'candlestick',
      data: velas_algodon
    }]
  });

</script>


{% endblock %}