{% extends 'base.html' %}

{% load humanize %} 

{% block content %}

<div class="container">
  <ul class="nav nav-pills mb-3 pt-5" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active"  id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">REPORTE GENERAL</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link"  id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">REPORTE 2023</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link"   id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">REPORTE 2024</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <h1 style="color: #9d2449;">REPORTE GENERAL</h1>
      <table class="table table-responsive  text-center" id="myTable2">
        <thead>
          <tr >
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Región</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Cantidad de Proyectos</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col" style="width: 20%;">Monto de Financiamiento</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col" style="width: 20%;">Garantías Liquidas</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Beneficiarios</th>
            <!-- <th scope="col">Cantidad de Municipios</th> -->
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">E-100</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Pueblos Indigenas</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Empleos Directos</th>

          </tr>
        </thead>
        <tbody >
          <tr>
            <th scope="row">Valles Centrales</th>
            <td style="text-align: center;">  
            {% for region in conteo_VC %}
            {{ region.total }} 
            {% endfor %} </td>
           
            <td style="text-align: center;"> ${{ monto_VC_templates|floatformat:2|intcomma }} </td>
            <td style="text-align: center;">${{ garantia_VC_templates|floatformat:2|intcomma }}</td>
            <td style="text-align: center;">{{ beneficiarios_VC_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_VC }}</td>
            <td style="text-align: center;">{{ PI_VC }}</td>
            <td style="text-align: center;">{{ empleos_VC_T }}</td>


          </tr>
          <tr>
            <th scope="row">Istmo</th>
            
            <td style="text-align: center;">{{ mensaje_IST }} 
            {% for region_IST in conteo_IST %} {{ region_IST.total }} 
            {% endfor %}        </td>            
            <td style="text-align: center;"> $ {{ monto_IST_templates|floatformat:2|intcomma  }} </td> 
            <td style="text-align: center;">$ {{ garantia_IST_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_IST_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_IST }}</td>
            <td style="text-align: center;">{{ PI_IST }}</td>
            <td style="text-align: center;">{{ empleos_IST_T }}</td>

          </tr>
          <tr>
            <th scope="row">Costa</th>
            
            <td style="text-align: center;">{{ mensaje_COS }} 
              {% for conteo_COS in conteo_COS %}
              {{ conteo_COS.total }} 
            {% endfor %} </td>
            <td style="text-align: center;">$ {{ monto_COS_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_COS_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_IST_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_COS }}</td>
            <td style="text-align: center;">{{ PI_COS }}</td>
            <td style="text-align: center;">{{ empleos_COS_T }}</td>

          </tr>
          <tr>
            <th scope="row">Papaloapan</th>
            <td style="text-align: center;"> {{ mensaje_PAPA }}
              {% for conteo_PAPA in conteo_PAPA %}
              {{ conteo_PAPA.total }}
            {% endfor %}   </td>
            <td style="text-align: center;">$ {{ monto_PAPA_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_PAPA_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_PAPA_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_PAPA }}</td>
            <td style="text-align: center;">{{ PI_PAPA }}</td>
            <td style="text-align: center;">{{ empleos_PAPA_T }}</td>

          </tr>
          <tr>
            <th scope="row">Mixteca</th>
            <td style="text-align: center;"> {{ mensaje_MIX }}
            {% for conteo_MIX in conteo_MIX %}
             {{ conteo_MIX.total }} 
            {% endfor %}  </td>
            <td style="text-align: center;"> $ {{ monto_MIX_templates|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">$ {{ garantia_MIX_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_MIX_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_MIX }}</td>
            <td style="text-align: center;">{{ PI_MIX }}</td>
            <td style="text-align: center;">{{ empleos_MIX_T }}</td>
          </tr>
          <tr>
            <th scope="row">Sierra de Juarez</th>
            <td style="text-align: center;">{{ mensaje_SJ }} 
              {% for conteo_SJ in conteo_SJ %}
              {{ conteo_SJ.total }} 
            {% endfor %}  </td>
            <td style="text-align: center;">$ {{ monto_SJ_templates|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">$ {{ garantia_SJ_templates|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">{{ beneficiarios_SJ_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SJ }}</td>
            <td style="text-align: center;">{{ PI_SJ }}</td>
            <td style="text-align: center;">{{ empleos_SJ_T }}</td>

          </tr>
          <tr>
            <th scope="row">Sierra Sur</th>
            <td style="text-align: center;"> {{ mensaje_SS }} 
              {% for conteo_SS in conteo_SS %}
              {{ conteo_SS.total }}
            {% endfor %}  </td>
            <td style="text-align: center;">$ {{ monto_SS_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_SS_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_SS_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SS }}</td>
            <td style="text-align: center;">{{ PI_SS }}</td>
            <td style="text-align: center;">{{ empleos_SS_T }}</td>

          </tr>
          <tr>
            <th scope="row">Sierra de Flores Magon</th>
            <td style="text-align: center;">   {{ mensaje_SFM }}
            {% for conteo_SFM in conteo_SFM %}
             {{ conteo_SFM.total }} 
            {% endfor %} </td>
            <td style="text-align: center;">$ {{ monto_SFM_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_SFM_templates|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_SFM_T }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SFM }}</td>
            <td style="text-align: center;">{{ PI_SFM }}</td>
            <td style="text-align: center;">{{ empleos_SFM_T }}</td>

          </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <h1 style="color: #9d2449;">REPORTE AÑO 2023</h1>
      <table class="table table-responsive text-center" id="myTable3">
        <thead>
          <tr>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Región</th>
            <th style="background-color: #9d2449; text-align: center; color: white; width: 20%;" scope="col">Cantidad de Proyectos</th>
            <th style="background-color: #9d2449; text-align: center; color: white; width: 20%;" scope="col" >Monto de Financiamiento</th>
            <th style="background-color: #9d2449; text-align: center; color: white; width: 20%;" scope="col" >Garantías Liquidas</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Beneficiarios</th>
            <!-- <th scope="col">Cantidad de Municipios</th> -->
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">E-100</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Pueblos Indigenas</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Empleos Directos</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Valles Centrales</th>
            <td style="text-align: center;">  
            {% for region in conteo_VC_2023 %}
            {{ region.total }} 
            {% endfor %} </td>
           
            <td style="text-align: center;"> ${{ monto_VC_templates_2023|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">${{ garantia_VC_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_VC_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_VC_2023 }}</td>
            <td style="text-align: center;">{{ PI_VC_2023 }}</td>
            <td style="text-align: center;">{{ empleos_VC_T_2023 }}</td>


          </tr>
          <tr>
            <th scope="row">Istmo</th>
            
            <td style="text-align: center;">{{ mensaje_IST }} 
            {% for region_IST in conteo_IST_2023 %} {{ region_IST.total }} 
            {% endfor %}        </td>            
            <td style="text-align: center;"> $ {{ monto_IST_templates_2023|floatformat:2|intcomma  }} </td> 
            <td style="text-align: center;">$ {{ garantia_IST_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_IST_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_IST_2023 }}</td>
            <td style="text-align: center;">{{ PI_IST_2023 }}</td>
            <td style="text-align: center;">{{ empleos_IST_T_2023 }}</td>

          </tr>
          <tr>
            <th scope="row">Costa</th>
            
            <td style="text-align: center;">{{ mensaje_COS }} 
              {% for conteo_COS in conteo_COS_2023 %}
              {{ conteo_COS.total }} 
            {% endfor %} </td>
            <td style="text-align: center;">$ {{ monto_COS_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_COS_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_COS_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_COS_2023 }}</td>
            <td style="text-align: center;">{{ PI_COS_2023 }}</td>
            <td  style="text-align: center;">{{ empleos_COS_T_2023 }}</td>

          </tr>
          <tr >
            <th scope="row">Papaloapan</th>
            <td style="text-align: center;"> {{ mensaje_PAPA }}
              {% for conteo_PAPA in conteo_PAPA_2023 %}
              {{ conteo_PAPA.total }}
            {% endfor %}   </td>
            <td style="text-align: center;">$ {{ monto_PAPA_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_PAPA_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_PAPA_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_PAPA_2023 }}</td>
            <td style="text-align: center;">{{ PI_PAPA_2023 }}</td>
            <td style="text-align: center;">{{ empleos_PAPA_T_2023 }}</td>

          </tr>
          <tr>
            <th scope="row">Mixteca</th>
            <td style="text-align: center;"> {{ mensaje_MIX }}
            {% for conteo_MIX in conteo_MIX_2023 %}
             {{ conteo_MIX.total }} 
            {% endfor %}  </td>
            <td style="text-align: center;"> $ {{ monto_MIX_templates_2023|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">$ {{ garantia_MIX_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_MIX_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_MIX_2023 }}</td>
            <td style="text-align: center;">{{ PI_MIX_2023 }}</td>
            <td style="text-align: center;">{{ empleos_MIX_T_2023 }}</td>
          </tr>
          <tr>
            <th scope="row">Sierra de Juarez</th>
            <td style="text-align: center;">{{ mensaje_SJ }} 
              {% for conteo_SJ in conteo_SJ_2023 %}
              {{ conteo_SJ.total }} 
            {% endfor %}  </td>
            <td style="text-align: center;">$ {{ monto_SJ_templates_2023|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">$ {{ garantia_SJ_templates_2023|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">{{ beneficiarios_SJ_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SJ_2023 }}</td>
            <td style="text-align: center;">{{ PI_SJ_2023 }}</td>
            <td style="text-align: center;">{{ empleos_SJ_T_2023 }}</td>

          </tr>
          <tr>
            <th scope="row">Sierra Sur</th>
            <td style="text-align: center;"> {{ mensaje_SS }} 
              {% for conteo_SS in conteo_SS_2023 %}
              {{ conteo_SS.total }}
            {% endfor %}  </td>
            <td style="text-align: center;">$ {{ monto_SS_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_SS_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_SS_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SS_2023 }}</td>
            <td style="text-align: center;">{{ PI_SS_2023 }}</td>
            <td style="text-align: center;">{{ empleos_SS_T_2023 }}</td>

          </tr>
          <tr>
            <th scope="row">Sierra de Flores Magon</th>
            <td style="text-align: center;">   {{ mensaje_SFM }}
            {% for conteo_SFM in conteo_SFM_2023 %}
             {{ conteo_SFM.total }} 
            {% endfor %} </td>
            <td style="text-align: center;">$ {{ monto_SFM_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_SFM_templates_2023|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_SFM_T_2023 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SFM_2023 }}</td>
            <td style="text-align: center;">{{ PI_SFM_2023 }}</td>
            <td style="text-align: center;">{{ empleos_SFM_T_2023 }}</td>

          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <h1 style="color: #9d2449;">REPORTE AÑO 2024</h1>
      <table class="table table-responsive text-center" id="myTable4">
        <thead>
          <tr>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Región</th>
            <th style="background-color: #9d2449; text-align: center; color: white; width: 20%;" scope="col">Cantidad de Proyectos</th>
            <th style="background-color: #9d2449; text-align: center; color: white; width: 20%;" scope="col" >Monto de Financiamiento</th>
            <th style="background-color: #9d2449; text-align: center; color: white; width: 20%;" scope="col" >Garantías Liquidas</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Beneficiarios</th>
            <!-- <th scope="col">Cantidad de Municipios</th> -->
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">E-100</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Pueblos Indigenas</th>
            <th style="background-color: #9d2449; text-align: center; color: white;" scope="col">Empleos Directos</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Valles Centrales</th>
            <td style="text-align: center;">  
            {% for region in conteo_VC_2024 %}
            {{ region.total }} 
            {% endfor %} </td>
           
            <td style="text-align: center;"> ${{ monto_VC_templates_2024|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">${{ garantia_VC_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_VC_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_VC_2024 }}</td>
            <td style="text-align: center;">{{ PI_VC_2024 }}</td>
            <td style="text-align: center;">{{ empleos_VC_T_2024 }}</td>


          </tr>
          <tr>
            <th scope="row">Istmo</th>
            
            <td style="text-align: center;">{{ mensaje_IST }} 
            {% for region_IST in conteo_IST_2024 %} {{ region_IST.total }} 
            {% endfor %}        </td>            
            <td style="text-align: center;"> $ {{ monto_IST_templates_2024|floatformat:2|intcomma  }} </td> 
            <td style="text-align: center;">$ {{ garantia_IST_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_IST_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_IST_2024 }}</td>
            <td style="text-align: center;">{{ PI_IST_2024 }}</td>
            <td style="text-align: center;">{{ empleos_IST_T_2024 }}</td>

          </tr>
          <tr>
            <th scope="row">Costa</th>
            
            <td style="text-align: center;">{{ mensaje_COS }} 
              {% for conteo_COS in conteo_COS_2024 %}
              {{ conteo_COS.total }} 
            {% endfor %} </td>
            <td style="text-align: center;">$ {{ monto_COS_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_COS_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_COS_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_COS_2024 }}</td>
            <td style="text-align: center;">{{ PI_COS_2024 }}</td>
            <td style="text-align: center;">{{ empleos_COS_T_2024 }}</td>

          </tr>
          <tr>
            <th scope="row">Papaloapan</th>
            <td style="text-align: center;"> {{ mensaje_PAPA }}
              {% for conteo_PAPA in conteo_PAPA_2024 %}
              {{ conteo_PAPA.total }}
            {% endfor %}   </td>
            <td style="text-align: center;">$ {{ monto_PAPA_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_PAPA_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_PAPA_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_PAPA_2024 }}</td>
            <td style="text-align: center;">{{ PI_PAPA_2024 }}</td>
            <td style="text-align: center;">{{ empleos_PAPA_T_2024 }}</td>

          </tr>
          <tr>
            <th scope="row">Mixteca</th>
            <td style="text-align: center;"> {{ mensaje_MIX }}
            {% for conteo_MIX in conteo_MIX_2024 %}
             {{ conteo_MIX.total }} 
            {% endfor %}  </td>
            <td style="text-align: center;"> $ {{ monto_MIX_templates_2024|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">$ {{ garantia_MIX_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_MIX_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_MIX_2024 }}</td>
            <td style="text-align: center;">{{ PI_MIX_2024 }}</td>
            <td style="text-align: center;">{{ empleos_MIX_T_2024 }}</td>
          </tr>
          <tr>
            <th scope="row">Sierra de Juarez</th>
            <td style="text-align: center;">{{ mensaje_SJ }} 
              {% for conteo_SJ in conteo_SJ_2024 %}
              {{ conteo_SJ.total }} 
            {% endfor %}  </td>
            <td style="text-align: center;">$ {{ monto_SJ_templates_2024|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">$ {{ garantia_SJ_templates_2024|floatformat:2|intcomma  }} </td>
            <td style="text-align: center;">{{ beneficiarios_SJ_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SJ_2024 }}</td>
            <td style="text-align: center;">{{ PI_SJ_2024 }}</td>
            <td style="text-align: center;">{{ empleos_SJ_T_2024 }}</td>

          </tr>
          <tr>
            <th scope="row">Sierra Sur</th>
            <td style="text-align: center;"> {{ mensaje_SS }} 
              {% for conteo_SS in conteo_SS_2024 %}
              {{ conteo_SS.total }}
            {% endfor %}  </td>
            <td style="text-align: center;">$ {{ monto_SS_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_SS_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_SS_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SS_2024 }}</td>
            <td style="text-align: center;">{{ PI_SS_2024 }}</td>
            <td style="text-align: center;">{{ empleos_SS_T_2024 }}</td>

          </tr>
          <tr>
            <th scope="row">Sierra de Flores Magon</th>
            <td style="text-align: center;">   {{ mensaje_SFM }}
            {% for conteo_SFM in conteo_SFM_2024 %}
             {{ conteo_SFM.total }} 
            {% endfor %} </td>
            <td style="text-align: center;">$ {{ monto_SFM_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">$ {{ garantia_SFM_templates_2024|floatformat:2|intcomma  }}</td>
            <td style="text-align: center;">{{ beneficiarios_SFM_T_2024 }}</td>
            <!-- <td></td> -->
            <td style="text-align: center;">{{ E100_SFM_2024 }}</td>
            <td style="text-align: center;">{{ PI_SFM_2024 }}</td>
            <td style="text-align: center;">{{ empleos_SFM_T_2024 }}</td>

          </tr>
        </tbody>
      </table>

    </div>
  </div>


  <div class="row ">
    <div class="col-sm-12 col-md-12 pt-4">
      <div class="card text-center">
        <div class="card-header" style="background-color: #9d2449; color: white; font-weight: bold;">
          MONTO DE FINANCIAMIENTO POR REGIÓN 
        </div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://www.cronista.com/files/image/326/326941/6076efb80fdf8.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body"  style="background-color: #ffe3ecfd; color: #460317;">
              <h5 class="card-title">MONTO DE FINANCIAMIENTO POR REGIÓN</h5>
              <div id="chart" class="chart"></div>

            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-sm-12 col-md-12 pt-4">
      <div class="card text-center">
        <div class="card-header" style="background-color: #9d2449; color: white; font-weight: bold;">
          PROYECTOS POR TIPO DE PERSONA FISICA O MORAL        </div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://mexico.quadratin.com.mx/www/wp-content/uploads/2020/07/Campo-mexicano-econom%C3%ADa-agricultura-campesinos-sembrar-siembra-paisaje-con-nuubes-lluvia-FOTO-SADER-200730-AGRICULTURA-INIFAP-FRIJOL-8-1160x700.jpg" class="card-img" alt="...">
           <br> <br><br> <p style="color: #460317; font-weight: bold; text-align: justify;">Persona física es un individuo y la persona moral es un grupo de individuos con un fin común, comercial o no lucrativo</p>
          </div>
          <div class="col-md-8">
            <div class="card-body"  style="background-color: #ffe3ecfd; color: #460317;">
              <h5 class="card-title">PROYECTOS POR TIPO DE PERSONA FISICA O MORAL</h5>
              <div id="chart2" class="chart2"></div>

            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-sm-12 col-md-12 pt-4">
      <div class="card text-center">
        <div class="card-header" style="background-color: #9d2449; color: white; font-weight: bold;">
          MONTO DE FINANCIAMIENTO POR INTERMEDIARIO FINANCIERO        </div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://lh3.googleusercontent.com/proxy/gDfH_R-JzvFiOEL9p4wRMgMMGg7dZlCVDsqjcdaOQgJ0zvJYfuCuNB4bRBbUfIzJVjbcvjme5-JWQ-7OSr9J_lUcA3xx4R3TpVvQVmLW8qbaljK9AeRkqH1my5HhwD_-PKyqqvS9tg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body"  style="background-color: #ffe3ecfd; color: #460317;">
              <h5 class="card-title">MONTO DE FINANCIAMIENTO POR INTERMEDIARIO FINANCIERO</h5>
              <div id="chart3" class="chart3"></div>

            </div>
          </div>
        </div>
      </div>

    </div>
 

    
    <div class="col-sm-12 col-md-12 pt-4">
      <div class="card text-center">
        <div class="card-header" style="background-color: #9d2449; color: white; font-weight: bold;">
          HISTORIAL DE FINANCIAMIENTO ($)        </div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://dinero.hn/wp-content/uploads/2018/12/pib-AGRO.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body"  style="background-color: #ffe3ecfd; color: #460317;">
              <h5 class="card-title">HISTORIAL DE FINANCIAMIENTO ($)</h5>
              <div id="chart4" class="chart4"></div>

            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="col-sm-12 col-md-12 pt-4">
      <div class="card text-center">
        <div class="card-header" style="background-color: #9d2449; color: white; font-weight: bold;">
          PROYECTOS POR CONCEPTO DE APOYO
        </div>
        <div class="card-body" style="background-color: #ffe3ecfd; color: #460317;">
          <h5 class="card-title">PROYECTOS POR CONCEPTO DE APOYO </h5>
          <table class="table" id="myTable5">
            <thead >
              <tr>
                <th scope="col">CONCEPTOS DE APOYO</th>
                <th scope="col">CANTIDAD DE PROYECTOS</th>
                <th scope="col">MONTO DE FINANCIAMIENTO</th>
                <th scope="col">GARANTÍAS LÍQUIDAS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">CAPITAL DE TRABAJO</th>
                <td style="text-align: center;">{{ cantidad_ct }}</td>
                <td style="text-align: center;">${{ monto_ct|floatformat:2|intcomma   }} </td>
                <td style="text-align: center;">${{ garantias_ct|floatformat:2|intcomma   }} </td>
              </tr>
              <tr>
                <th scope="row">EQUIPAMIENTO</th>
                <td style="text-align: center;">{{ cantidad_eq }}</td>
                <td style="text-align: center;">${{ monto_eq|floatformat:2|intcomma   }}  </td>
                <td style="text-align: center;">${{ garantias_eq|floatformat:2|intcomma   }}</td>
              </tr>
              <tr>
                <th scope="row">INFRAESTRUCTURA AGROALIMENTARIA</th>
                <td style="text-align: center;">{{ cantidad_iaa }}</td>
                <td style="text-align: center;">${{ monto_iaa|floatformat:2|intcomma   }}</td>
                <td style="text-align: center;">${{ garantias_iaa|floatformat:2|intcomma   }}</td>
              </tr>
              <tr>
                <th scope="row">INFRAESTRUCTURA AGROINDUSTRIAL</th>
                <td style="text-align: center;">{{ cantidad_iai }}</td>
                <td style="text-align: center;">${{ monto_iai|floatformat:2|intcomma   }}</td>
                <td style="text-align: center;">${{ garantias_iai|floatformat:2|intcomma   }}</td>
              </tr>
              <tr>
                <th scope="row">AGRICULTURA PROTEGIDA</th>
                <td style="text-align: center;">{{ cantidad_ap }}</td>
                <td style="text-align: center;">${{ monto_ap|floatformat:2|intcomma   }}</td>
                <td style="text-align: center;">${{ garantias_ap|floatformat:2|intcomma   }}</td>
              </tr>
              <tr>
                <th scope="row">MECANIZACIÓN</th>
                <td style="text-align: center;">{{ cantidad_mec }}</td>
                <td style="text-align: center;">${{ monto_mec|floatformat:2|intcomma   }}</td>
                <td style="text-align: center;">${{ garantias_mec|floatformat:2|intcomma   }}</td>
              </tr>
              <tr>
                <th scope="row">REHABILITACIÓN</th>
                <td style="text-align: center;">{{ cantidad_re }}</td>
                <td style="text-align: center;">${{ monto_re|floatformat:2|intcomma   }} </td>
                <td style="text-align: center;">${{ garantias_re|floatformat:2|intcomma   }}</td>
              </tr>
            </tbody>
        <!--     <tfoot style="text-align: center;">
              <tr>
                  <th scope="row">Total</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>

              </tr>
          </tfoot> -->
          </table>
          
          

        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-12 pt-4">
      <div class="card text-center">
        <div class="card-header" style="background-color: #9d2449; color: white; font-weight: bold;">
          PROYECTOS DE INVERSIÓN POR SUBSECTOR        </div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://agroinfo.enae.es/wp-content/uploads/2017/06/cadena-alimentaria.jpg" class="card-img" alt="...">
           <br> <br> <br><p style="color: #460317; font-size: 17px; font-weight: bold; text-align: justify;">Proyecto de inversión : conjunto de actividades que se desarrollan en un periodo de tiempo determinado en el cual se involucran recursos con el propósito de solucionar un problema, satisfacer una necesidad o aprovechar una oportunidad.</p>
          </div>
          <div class="col-md-8">
            <div class="card-body"  style="background-color: #ffe3ecfd; color: #460317;">
              <h5 class="card-title">PROYECTOS DE INVERSIÓN POR SUBSECTOR</h5>
              <div id="chart5" class="chart5"></div>

            </div>
          </div>
        </div>
      </div>

    </div>





    <div class="col-sm-12 col-md-12 pt-4">
      <div class="card text-center">
        <div class="card-header" style="background-color: #9d2449; color: white; font-weight: bold;">
          PROYECTOS DE INVERSIÓN POR SUBSECTOR Y POR REGION
        </div>
        <div class="card-body" style="background-color: #ffe3ecfd; color: #460317;">
          <h5 class="card-title">PROYECTOS DE INVERSIÓN POR SUBSECTOR Y POR REGION</h5>
          <table class="table" id="myTable6" >
            <thead>
              <tr>
                <th scope="col">SUBSECTOR</th>
                <th scope="col">VALLES CENTRALES</th>
                <th scope="col">ISTMO</th>
                <th scope="col">COSTA</th>
                <th scope="col">PAPALOAPAN</th>
                <th scope="col">MIXTECA</th>
                <th scope="col">SIERRA DE JUAREZ</th>
                <th scope="col">SIERRA SUR</th>
                <th scope="col">SIERRA DE FLORES MAGON</th>
                <th scope="col">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">AGRICOLA</th>
                <td style="text-align: center;">{{ valles_agri }} </td>
                <td style="text-align: center;">{{ istmo_agri }}</td>
                <td style="text-align: center;">{{ costa_agri }}</td>
                <td style="text-align: center;">{{ papa_agri }}</td>
                <td style="text-align: center;">{{ mix_agri }}</td>
                <td style="text-align: center;">{{ sjua_agri }}</td>
                <td style="text-align: center;">{{ ssur_agri }}</td>
                <td style="text-align: center;">{{ sflm_agri }}</td>
                <td style="background-color: #9d2449; color: white; font-weight: bold;">{{ total_agri }}</td>
                
              </tr>
              <tr>
                <th scope="row">PECUARIO</th>
                <td style="text-align: center;">{{ valles_pec }} </td>
                <td style="text-align: center;">{{ istmo_pec }}</td>
                <td style="text-align: center;">{{ costa_pec }}</td>
                <td style="text-align: center;">{{ papa_pec }}</td>
                <td style="text-align: center;">{{ mix_pec }}</td>
                <td style="text-align: center;">{{ sjua_pec }}</td>
                <td style="text-align: center;">{{ ssur_pec }}</td>
                <td style="text-align: center;">{{ sflm_pec }}</td>
                <td style="background-color: #9d2449; color: white; font-weight: bold;">{{ total_pec }}</td>

              </tr>
              <tr>
                <th scope="row">ACUICOLA</th>
                <td style="text-align: center;">{{ valles_acu }} </td>
                <td style="text-align: center;">{{ istmo_acu }}</td>
                <td style="text-align: center;">{{ costa_acu }}</td>
                <td style="text-align: center;">{{ papa_acu }}</td>
                <td style="text-align: center;">{{ mix_acu }}</td>
                <td style="text-align: center;">{{ sjua_acu }}</td>
                <td style="text-align: center;">{{ ssur_acu }}</td>
                <td style="text-align: center;">{{ sflm_acu }}</td>
                <td style="background-color: #9d2449; color: white; font-weight: bold;">{{ total_acu }}</td>

              </tr>
              <tr>
                <th scope="row">PESQUERO</th>
                <td style="text-align: center;">{{ valles_pes }} </td>
                <td style="text-align: center;">{{ istmo_pes }}</td>
                <td style="text-align: center;">{{ costa_pes }}</td>
                <td style="text-align: center;">{{ papa_pes }}</td>
                <td style="text-align: center;">{{ mix_pes }}</td>
                <td style="text-align: center;">{{ sjua_pes }}</td>
                <td style="text-align: center;">{{ ssur_pes }}</td>
                <td style="text-align: center;">{{ sflm_pes }}</td>
                <td style="background-color: #9d2449; color: white; font-weight: bold;">{{ total_pes }}</td>

              </tr>
              <tr>
                <th scope="row">FORESTAL</th>
                <td style="text-align: center;">{{ valles_for }} </td>
                <td style="text-align: center;">{{ istmo_for }}</td>
                <td style="text-align: center;">{{ costa_for }}</td>
                <td style="text-align: center;">{{ papa_for }}</td>
                <td style="text-align: center;">{{ mix_for }}</td>
                <td style="text-align: center;">{{ sjua_for }}</td>
                <td style="text-align: center;">{{ ssur_for }}</td>
                <td style="text-align: center;">{{ sflm_for }}</td>
                <td style="background-color: #9d2449; color: white; font-weight: bold;">{{ total_for }}</td>

              </tr>
          
            </tbody>
          </table>

        </div>
      </div>
    </div>
</div>
    </div> 





  


   

    
    


{% endblock %}

