{% extends 'base.html' %}


{% block content %}


<div class="container">
<div class="row justify-content-center align-items-center g-2">
    <h1 style="text-align: center; color: #9d2449;">CREDITOS OTORGADOS</h1>


<div class="table-responsive" >
    <table class="display table table-striped table-hover table-borderless table-primary align-middle" id="myTable" style="width:100%; background-color:#9d2449 ;">
        <thead class="table-light">
      
            <tr>
                <th>NOMBRE DEL PORYECTO</th>
                <th>PRODUCTO QUE COMERCIALIZA</th>
                <th>NOMBRE DEL CLIENTE</th>
                <th>MONTO TOTAL</th>
                <th>FINANCIERA</th>
                <th>TIPO DE MERCADO</th>
                <th>OPCIONES</th>

            </tr>
        </thead>

        <tbody class="table-group-divider">
            {% for fin in finan %}

            <tr class="table-primary" >
                <td scope="row">{{fin.nombre_proyecto}}</td>
                <td>{{fin.producto_comercializa}}</td>
                <td>{{fin.nombre_cliente}}</td>
                <td>{{fin.monto_total}}</td>
                <td>{{fin.intermediario_financiero}}</td>
                <td>{{fin.tipo_mercado}}</td>
                <td><a href="{% url 'creditDetail' fin.id %}" class="btn btn-success" style="font-size: 12px;">Ver <i class="fas fa-eye"></i> </a>
                    <!-- <form action="{% url 'delete_credit' fin.id %}" method="POST">
                        {% csrf_token  %} -->
                        <button onclick="confirmarEliminacion('{{ fin.id }}')" style="font-size: 12px;" class="btn btn-danger pt-2">Eliminar <i class="fas fa-trash"></i></button>
                    <!-- </form> -->
                    <a href="{% url 'creditUpdate' fin.id %}" class="btn btn-primary" style="font-size: 12px; color: white;">Editar <i class="fas fa-pencil-alt"></i> </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
        
    </table>    
</div>
   
</div>
</div>

{% if messages %}
{% for message in messages %}
<script>
  Swal.fire({
    "title" :  "Eliminado",
    "text" : "{{message}}",
    "icon" : "success",
    showConfirmButton: false,
      timer: 1200
  })
</script>
{% endfor %}
{% endif %}

<script>
    function confirmarEliminacion(id) {
      Swal.fire({
        title: "¿Estás seguro que quieres eliminar este registro?",
        text: "No podrás revertir esto",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Sí, eliminar",
        cancelButtonText: "Cancelar"
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/eliminar/" + id + "/";  // Redirecciona a la URL de eliminación
        }
      });
    }
  </script>





{% endblock %}


