{% extends 'base3.html' %}

{% load static %}


{% block content %}

<main id="contents" class="site-contnts">

	<!--Slider-->
	<div class="home-slider">
		<div class="item" data-slide="{% static 'assets/images/agave2.jpg' %}">
			<div class="container">
				<div class="row">
					<div class="col-sm-11 col-md-8 col-lg-7">
						<h2 class="slide-title">Bienvenido <strong>al sitio web de AGRONEGOCIOS</strong> explora
							<strong>nuestras</strong> secciones
						</h2>

					</div>
				</div>
			</div>
		</div>
		<div class="item" data-slide="{% static 'assets/images/13.png' %}">
			<div class="container">
				<div class="row">


				</div>
			</div>
		</div>

		<div class="item" data-slide="{% static 'imagenesSA/6.png' %}">
			<div class="container">
				<div class="row">


				</div>
			</div>
		</div>
	</div>
	</div>
	</div>

	<!--Find Domain-->


	<!--Hosting Services - Tab-->
	<section class="row hosting-services-tabs-section">
		<div class="container">
			<div class="row section-title text-center">
				<h2>AGRONEGOCIOS</h2>

			</div>
			<ul class="nav nav-tabs nav-justified hstab" role="tablist">
				<li role="presentation" class="active"><a href="#hst-1" aria-controls="hst-1" role="tab"
						data-toggle="tab">Descripción General</a></li>
				<li role="presentation"><a href="#hst-2" aria-controls="hst-2" role="tab" data-toggle="tab">Objetivo
						General</a></li>
				<li role="presentation"><a href="#hst-3" aria-controls="hst-3" role="tab" data-toggle="tab">Objetivos
						Específicos</a></li>
				<li role="presentation"><a href="#hst-4" aria-controls="hst-4" role="tab" data-toggle="tab">Población
						Objetivo</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content hst-contents">
				<div role="tabpanel" class="tab-pane active" id="hst-1">
					<div class="row">
						<div class="col-md-7">
							<h3 class="au-title">DESCRIPCIÓN GENERAL <strong>DEL PROGRAMA AGRONEGOCIOS</strong> </h3>

							<p></p>
							<p>El Programa de Agronegocios del Gobierno del Estado de Oaxaca está diseñado para apoyar a
								productores del sector agroalimentario y agroindustrial que han superado la
								autosuficiencia y cuentan con excedentes productivos, pero necesitan agregar valor a sus
								productos para competir en mercados más exigentes.

							</p>

							<p>El programa se implementa a través de dos líneas principales de acción. La primera,
								fomento a la inversión, busca fortalecer las cadenas de valor mediante proyectos de
								infraestructura y equipamiento, utilizando una combinación de recursos como subsidios y
								garantías líquidas para facilitar el acceso a financiamientos. Esto permite a los
								productores mejorar sus capacidades productivas y su competitividad.

								La segunda línea de acción, desarrollo de mercados, apoya la diferenciación de productos
								a través de subsidios para certificaciones importantes, como orgánico, inocuidad y
								normas oficiales mexicanas (incluida la NOM 070).

							</p>

						</div>
						<div class="col-md-5 col-plan">
							<br><br><br>
							<div class="image-container">
								<img src="{% static 'imagenes/1.png' %}">
							</div>
							<br><br><br>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="hst-2">
					<div class="row">
						<div class="col-md-7">
							<h3>OBJETIVO GENERAL <strong>DEL PROGRAMA</strong> <strong>AGRONEGOCIOS</strong></h3>
							<p>Fomentar y fortalecer de manera integral las actividades económicas relacionadas con el
								sector agroalimentario y agroindustrial, priorizando el desarrollo sostenible y
								competitivo de las cadenas de valor con mayor potencial productivo en el Estado. Esto
								incluye la optimización de los procesos de producción, transformación, comercialización
								y prestación de servicios, buscando generar oportunidades de empleo directo e indirecto
								que contribuyan al bienestar social y económico de las familias oaxaqueñas.</p>

							<p>Asimismo, se busca impulsar la creación y posicionamiento de productos agroalimentarios
								diferenciados de alto valor agregado, inocuos, sanos y de calidad, capaces de satisfacer
								las demandas de los mercados locales, nacionales e internacionales, fomentando con ello
								el desarrollo económico regional, la seguridad alimentaria y el aprovechamiento
								eficiente de los recursos disponibles.</p>

							<div class="media service-quote">

								<div class="media-body">

								</div>

							</div>
						</div>
						<div class="col-md-5 col-plan">
							<br><br><br>
							<div class="image-container">
								<img src="{% static 'imagenes/2.png' %}">
							</div>
							<br><br><br>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="hst-3">
					<div class="row">
						<div class="col-md-7">
							<h3>OBJETIVOS ESPECIFICOS <strong> DEL PROGRAMA AGRONEGOCIOS</strong> </h3>
							<p>Facilitar el acceso al financiamiento a personas físicas o morales, mediante la
								implementación de un esquema de garantías líquidas a través de intermediarios
								financieros bancarios y no bancarios participantes con fideicomisos y banca de segundo
								piso, permitiendo un mayor flujo de recursos crediticios en atención a la demanda de
								financiamiento de los productores del sector agroalimentario y agroindustrial en el
								Estado de Oaxaca.</p>
							<p>Fomentar la colocación de productos agroalimentarios y agroindustriales de alto valor
								comercial generados en el Estado en los diferentes mercados locales, nacionales e
								internacionales a través de espacios virtuales o físicos de concurrencia de productoras
								y productores, comercializadores, proveedores e instituciones que participen en el
								sector.</p>

							<div class="media service-quote">
								<div class="media-left"></a></div>
								<div class="media-body">

								</div>

							</div>
						</div>
						<div class="col-md-5 col-plan">
							<br><br><br>
							<div class="image-container">
								<img src="{% static 'imagenes/3.png' %}">
							</div>
							<br><br><br>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="hst-4">
					<div class="row">
						<div class="col-md-7">
							<h3>POBLACIÓN OBJETIVO <strong>DEL PROGRAMA AGRONEGOCIOS</strong> </h3>
							<p>La población objetivo está definida por personas físicas o morales con actividades
								agroalimentarias y agroindustriales, facilitándoles el acceso al financiamiento mediante
								la implementación de un esquema de Garantías Líquidas a través de Intermediarios
								Financieros, convenidos con el Fondo de Garantía para las Empresas de Solidaridad en el
								Estado de Oaxaca (FOGAROAX) y sus Reglas de Operación.</p>
							<p>Los criterios de elegibilidad se establecen en FOGAROAX en coordinación con los
								intermediarios financieros con quienes se ha convenido y de acuerdo con las Reglas de
								Operación del Fideicomiso, y serán con el intermediario financiero con quien decida el
								beneficiario contraer obligaciones financieras.</p>

							<div class="media service-quote">

								<div class="media-body">

								</div>

							</div>
						</div>
						<div class="col-md-5 col-plan">
							<br><br><br>
							<div class="image-container">
								<img src="{% static 'imagenes/4.png' %}">
							</div>
							<br><br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Secciones del sitio web-->
	<section class="row latest-blogs">
		<div class="container">
			<div class="row section-title text-center">
				<h2>SECCIONES DEL SITIO</h2>
			</div>
			<div class="row">
				<div class="col-sm-4 latest-post">

					<div class="lp-inner row">
						<ul class="lp-meta list-unstyled">


						</ul>
						<a href="#">
							<h2 class="lp-title">DESEMPEÑO DEL FONDO DE GARANTÍAS LÍQUIDAS
								<p>El Fondo de Garantías Líquidas, impulsado por el gobierno de Oaxaca, busca facilitar
									el acceso al financiamiento para productores agroalimentarios y agroindustriales.
									Este fondo se nutre de aportaciones del gobierno estatal, federal, municipal y otras
									fuentes públicas o privadas. Es administrado por el fideicomiso FOGAROAX, que, a
									través de un comité técnico, gestiona los recursos mediante convenios con
									intermediarios financieros. La sección destaca el desempeño del fondo en la
									colocación de financiamientos, permitiendo al público interpretar los datos de
									manera clara.</p> <br><br><br><br>
							</h2>
						</a>
					</div>
				</div>
				<div class="col-sm-4 latest-post">
					<div class="lp-inner row">
						<ul class="lp-meta list-unstyled">
						</ul>
						<a href="#">
							<h2 class="lp-title">ESTADÍSTICA DEL SECTOR AGROALIMENTARIO
								<p>Esta sección ofrece datos cuantitativos sobre la oferta estatal de productos
									agroalimentarios, incluyendo información de los subsectores agrícola, pecuario,
									acuícola y pesquero. Los datos provienen de instituciones como el SIAP, FAO,
									CONAPESCA, BANXICO e INEGI, y están desglosados a nivel mundial, nacional, estatal,
									regional y municipal. Su propósito es facilitar el análisis y la toma de decisiones
									en el ámbito público y privado, fomentando inversiones y mercados competitivos.
									Además, integra tecnología para cruzar datos en tiempo real con diversas fuentes,
									permitiendo una interpretación clara y útil.</p><br><br><br>
							</h2>
						</a>
					</div>
				</div>
				<div class="col-sm-4 latest-post">
					<div class="lp-inner row">
						<ul class="lp-meta list-unstyled">
						</ul>
						<a href="#">
							<h2 class="lp-title">DESARROLLO DE MERCADOS
								<p>El desarrollo de mercados impulsa el crecimiento de agronegocios mediante la
									introducción de sus productos en mercados locales, nacionales e internacionales,
									ayudando a incrementar ventas, mejorar la imagen y diversificar ingresos. Se ofrece
									un espacio gratuito para que los productores agroalimentarios y agroindustriales
									publiquen información sobre sus productos, facilitando conexiones con clientes
									potenciales. Este apartado busca crear un catálogo formal de productos exportables
									de Oaxaca, destacando aquellos con certificaciones como orgánica, inocuidad y NOM
									070, promoviendo ingresos sostenibles y bienestar para las familias oaxaqueñas.</p>
								<br><br>
							</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Clients-->
	<section class="row client-logos">
		<div class="container">
			<div class="row section-title text-center">
				<h2>CONVENIOS CON INTERMEDIARIOS FINANCIEROS</h2>
			</div>
			<div class="row">
				<div class="col-sm-2 client-logo"><a href="https://acreimex.com.mx/home" target="_blank"
						data-toggle="tooltip" data-placement="top" title="COOPERATIVA ACREIMEX S.C. DE A.P. DE R.L. DE C.V
"><img src="{% static 'assets/images/logo1.png' %}" alt="ACREIMEX"></a></div>
				<div class="col-sm-2 client-logo"><a href="https://www.nuestroapoyo.com/" target="_blank"
						data-toggle="tooltip" data-placement="top" title="NEGOCIOS EMPRESARIALES DE APOYO DE OAXACA SA DE CV SOFOM ENR
"><img src="{% static 'assets/images/logo2.png' %}" alt="SOFOM"></a></div>
				<div class="col-sm-2 client-logo"><a href="https://www.cajasandionisio.com/" target="_blank"
						data-toggle="tooltip" data-placement="top" title="CAJA SOLIDARIA SAN DIONISIO OCOTEPEC, S.C. DE A.P. DE R.L. DE C.V
"><img src="{% static 'assets/images/logo3.png' %}" alt="Caja Solidaria"></a></div>
				<div class="col-sm-2 client-logo"><a href="https://www.findeca.com.mx/" target="_blank"
						data-toggle="tooltip" data-placement="top" title="FINDECA SA DE CV SOFOM ENR
"><img src="{% static 'assets/images/logo4.png' %}" alt="FINDECA"></a></div>
				<div class="col-sm-2 client-logo"><a href="https://www.fira.gob.mx/Nd/index.jsp" target="_blank"
						data-toggle="tooltip" data-placement="top" title="FIDEICOMISOS INSTITUIDOS EN RELACIÓN CON LA AGRICULTURA (FIRA)
"><img src="{% static 'assets/images/logo5.png' %}" alt="FIRA"></a></div>
				<div class="col-sm-2 client-logo"><a href="https://ucepco.com.mx/" target="_blank" data-toggle="tooltip"
						data-placement="top" title="UNIÓN DE CRÉDITO ESTATAL DE PRODUCTORES DE CAFÉ DE OAXACA (UCEPCO)
"><img src="{% static 'assets/images/logo6.png' %}" alt="UCEPCO"></a></div>
			</div>
		</div>
	</section>



	<section class="row client-logos">
		<div class="container">
			<div class="row section-title text-center">
				<h2>COLABORACIÓN CON ENTIDADES CERTIFICADORAS</h2>
			</div>
			<div class="row">
				<div class="col-sm-4 client-logo"><a href="https://maya.bio/" target="_blank" data-toggle="tooltip"
						data-placement="top" title="MAYA BIO"><img src="{% static 'imagenes/mayabio.jpeg' %}"
							alt="MAYABIO" style="height: 150px;"></a></div>
				<div class="col-sm-4 client-logo"><a href="https://certimexsc.com/" target="_blank"
						data-toggle="tooltip" data-placement="top" title="CERTIMEX"><img
							src="{% static 'imagenes/certimex.jpeg' %}" alt="CERTIMEX" style="height: 150px;"></a></div>
				<div class="col-sm-4 client-logo"><a href="https://portal.amma.org.mx/inscripcion/index.php"
						target="_blank" data-toggle="tooltip" data-placement="top" title=""><img
							src="{% static 'imagenes/amma.jpeg' %}" alt="AMMA" style="height: 150px;"></a></div>
			</div>
		</div>
	</section>




</main>

{% endblock %}