{% extends 'baseTienda.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_tarjeta.css' %}">

<div class="container">
    <div class="row justify-content-center align-items-center g-2 pt-4">
        <div class="col-12" style="padding-top: 60px;">
            <div class="alert alert-danger " role="alert">
                <h2 style="text-align: center; color: #9d2449; font-weight: bold"> PRODUCTOS PECUARIOS </h2>
            </div>
        </div>
    </div>
</div>


<!--Tarjetas -->
<div class="body-card">
    <div class="container">
        <a href="{% url 'productosPecuario' 'APICOLA' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/APICOLA.png' %}" alt="APICOLA">
                <h3>APICOLA</h3>
            </div>
        </a>

        <a href="{% url 'productosPecuario' 'AVICOLA' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/AVICOLA.png' %}" alt="AVICOLA">
                <h3>AVICOLA</h3>
            </div>
        </a>
        <a href="{% url 'productosPecuario' 'BOVINO' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/BOVINO.png' %}" alt="BOVINO">
                <h3>BOVINO</h3>
            </div>
        </a>
        <a href="{% url 'productosPecuario' 'CAPRINO' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/CAPRINO.png' %}" alt="CAPRINO">
                <h3>CAPRINO</h3>
            </div>
        </a>
        <a href="{% url 'productosPecuario' 'PORCINO' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/PORCINO.png' %}" alt="PORCINO">
                <h3>PORCINO</h3>
            </div>
        </a>
    </div>
</div>




{% endblock %}