{% extends 'baseTienda.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_tarjeta.css' %}">

<div class="container">
    <div class="row justify-content-center align-items-center g-2 pt-4">
        <div class="col-12" style="padding-top: 60px;">
            <div class="alert alert-danger " role="alert">
                <h2 style="text-align: center; color: #9d2449; font-weight: bold"> PRODUCTOS PESQUEROS </h2>
            </div>
        </div>
    </div>
</div>


<!--Tarjetas -->
<div class="body-card">
    <div class="container">
        <a href="{% url 'productosPesquero' 'BARRILETE' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/barrilete.jpeg' %}" alt="BARRILETE">
                <h3>BARRILETE</h3>
            </div>
        </a>

        <a href="{% url 'productosPesquero' 'CAMARON CAFE' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/camaron.jpg' %}" alt="CAMARON">
                <h3>CAMARON</h3>
            </div>
        </a>
        <a href="{% url 'productosPesquero' 'CAZON' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/cazon.jpg' %}" alt="CAZON">
                <h3>CAZON</h3>
            </div>
        </a>
        <a href="{% url 'productosPesquero' 'OTRO' %}">
            <div class="card">
                <img src="{% static 'imagenesSA/pesquero.jpg' %}" alt="OTRO">
                <h3>OTROS</h3>
            </div>
        </a>

    </div>
</div>




{% endblock %}