{% extends 'base3.html' %}

{% load static %}


{% block content %}
<main id="contents" class="site-contnts">

    <!--Slider-->
    <div class="home-slider">
        <div class="item" data-slide="{% static 'assets/images/pecuario2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-11 col-md-8 col-lg-7">
                        <h2 class="slide-title">Estadisticas <strong>del Sector Pecuario</strong>
                            <h3>Explora los 6 productos</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="item" data-slide="{% static 'assets/images/PECUARIO.jpg' %}">
            <div class="container">
                <div class="row">


                </div>
            </div>
        </div>
    </div>
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_tarjeta.css' %}">
    <style>
        .container-card {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
        }

        .titulo-estilo {
            color: #9D2449;
            margin-bottom: 10px;
            margin-bottom: 20px;
        }
    </style>


    <!--Tarjetas -->
    <div class="body-card">
        <h2 class="text-3xl font-bold text-center titulo-estilo">ESTADISTICAS DEL SECTOR PECUARIO</h2>

        <div class="container-card">
            <a href="{% url 'apicola' %}">
                <div class="card">
                    <img src="{% static 'imagenesSA/APICOLA.jpg' %}" alt="APICOLA">
                    <h3>APICOLA</h3>
                </div>
            </a>

            <a href="{% url 'avicola' %}">
                <div class="card">
                    <img src="{% static 'imagenesSA/AVICOLA.jpg' %}" alt="AVICOLA">
                    <h3>AVICOLA</h3>
                </div>
            </a>
            <a href="{% url 'bovino' %}">
                <div class="card">
                    <img src="{% static 'imagenesSA/BOVINO.jpg' %}" alt="BOVINO">
                    <h3>BOVINO</h3>
                </div>
            </a>
            <a href="{% url 'caprino' %}">
                <div class="card">
                    <img src="{% static 'imagenesSA/CAPRINO.jpg' %}" alt="CAPRINO">
                    <h3>CAPRINO</h3>
                </div>
            </a>
            <a href="{% url 'porcino' %}">
                <div class="card">
                    <img src="{% static 'imagenesSA/PORCINO.jpg' %}" alt="PORCINO">
                    <h3>PORCINO</h3>
                </div>
            </a>
            <a href="{% url 'ovino' %}">
                <div class="card">
                    <img src="{% static 'imagenesSA/OVINO.jpg' %}" alt="PORCINO">
                    <h3>OVINO</h3>
                </div>
            </a>
          
        </div>
    </div>


</main>

{% endblock %}