{% extends 'baseTienda.html' %}

{% load static %}

{% block content %}



  <!-- Sección de imagen de fondo -->
  <div class="hero">
    <div class="overlay"></div>

    <!-- Contenedor de texto y botón -->
    <div class="hero-text">
      <p style="font-weight: bolder;">REGISTRA TU PRODUCTO</p>
      <h1 style="font-weight: bolder; color: white;">TODOS TUS PRODUCTOS EN LA PAGINA OFICAL DE LA SUBSECRETARIA DE AGRONEGOCIOS 
      </h1>

      <a class="hero-button"  href="/formProductos" >REGISTRAR AQUÍ</a>
    </div>
  </div>



    <!-- Start Slider -->
    <!-- <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center"> 
                <img src="{% static 'tienda/images/img-pro-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>REGISTRA TU<br>PRODUCTO</strong></h1>
                            <p class="m-b-40">TODOS TUS PRODUCTOS EN LA PAGINA OFICAL DE LA SUBSECRETARIA DE AGRONEGOCIOS</p>
                            <p><a class="btn hvr-hover" href="/formProductos" target="_blank">REGISTRAR AQUÍ</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->
    <!-- End Slider -->
<div id="mitad">
    <div class="container">
        <div class="row justify-content-center align-items-center g-2 pt-4" >
            <div class="col-12">
                <div class="alert alert-danger " role="alert">
                    <h2 style="text-align: center; color: #9d2449; "> El desarrollo de mercados impulsa el crecimiento de agronegocios mediante la introducción de sus productos en mercados locales, nacionales e internacionales, ayudando a incrementar ventas, mejorar la imagen y diversificar ingresos. Se ofrece un espacio gratuito para que los productores agroalimentarios y agroindustriales publiquen información sobre sus productos, facilitando conexiones con clientes potenciales. Este apartado busca crear un catálogo formal de productos exportables de Oaxaca, destacando aquellos con certificaciones como orgánicas, inocuidad y NOM 070, promoviendo ingresos sostenibles y bienestar para las familias oaxaqueñas. </h2>
                </div>
            </div>
         </div>     
    </div>
     

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box"> 
                        <img class="img-fluid" src="{% static 'tienda/images/categories_img_01.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaAgricola">VER PRODUCTOS AGRICOLAS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        
                        <img class="img-fluid" src="{% static 'tienda/images/categories_img_02.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaPecuario">VER PRODUCTOS PECUARIOS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'tienda/images/categories_img_03.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaPesquero">VER PRODUCTOS PESQUEROS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        
                        <img class="img-fluid" src="{% static 'tienda/images/acuicola.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaAcuicola">VER PRODUCTOS ACUICOLAS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'tienda/images/forestal.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="/categoriaForestal">VER PRODUCTOS FORESTALES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Start Products  -->
<!--     <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>PRODUCTOS MAS RECIENTES</h1>
                        <p>PRODUCTOS MAS RECIENTES</p>
                    </div>
                </div>
            </div>


            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            
                            <img src="{% static 'tienda/images/img-pro-01.jpg' %}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> $7.79</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'tienda/images/img-pro-02.jpg' %}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> $9.79</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    {% endblock %}
