{% extends 'base3.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'estilos/carrusel_style.css' %}">

<main id="contents" class="site-contnts">
    <div class="carousel-comp" id="carousel-comp">
        <div class="carousel-comp__slides" id="slides-comp">
            <div class="carousel-comp__slide">
                <img src="{% static 'assets/images/agricola.jpg' %}" alt="Imagen 1" />
                <div class="carousel-comp__text-overlay">
                    <strong>UBICACIÓN</strong>
                </div>
            </div>
        </div>
    </div>
	

    
    <!--Clients-->
    <section class="row client-logos">
        <div class="container">            
            <div class="row section-title text-center">
				<h2>UBICACION </h2>
			</div>
        <h1>ESPACIO PARA UBICACION</h1>
        </div>
    </section>
	
</main>

{% endblock %}
