{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas Café</title>
    <!-- Enlace al CSS de Swiper -->
    <link rel="stylesheet" href="{% static 'estilos/estilo_swiper.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilo_fuente.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilo_mapas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilo_textos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_carrusel.css' %}">

</head>

<body>
    <script src="{% static 'data/mapas/calabacita.js' %}"></script>
    <!-- Contenedor principal del carrusel -->
    <div class="carrusel-container">
        <!-- Encabezado del carrusel: contiene las flechas de navegación y los cubos de selección -->
        <div class="carrusel-header">
            <!-- Flecha para ir al slide anterior -->
            <span class="flecha" onclick="cambiarSlide(-1)">&#8592;</span>

            <!-- Cubos de navegación, uno por cada slide. Al hacer clic se salta directamente a ese slide -->
            <div>
                <span onclick="cambiarCub(0)" class="cubmenu seleccionado" id="cub0"></span>
                <span onclick="cambiarCub(1)" class="cubmenu" id="cub1"></span>
                <span onclick="cambiarCub(2)" class="cubmenu" id="cub2"></span>
                <span onclick="cambiarCub(3)" class="cubmenu" id="cub3"></span>
                <span onclick="cambiarCub(4)" class="cubmenu" id="cub4"></span>
                <span onclick="cambiarCub(5)" class="cubmenu" id="cub5"></span>
                <span onclick="cambiarCub(6)" class="cubmenu" id="cub6"></span>
                <span onclick="cambiarCub(7)" class="cubmenu" id="cub7"></span>
            </div>

            <!-- Flecha para ir al siguiente slide -->
            <span class="flecha" onclick="cambiarSlide(1)">&#8594;</span>
        </div>

        <!-- Slide 0: Descripción -->
        <div class="slide active" id="slide-descripcion">
            <iframe src="{% url 'descripcion_calabacita' %}" width="100%" height="850px" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>

        </div>

        <!-- Slide 1: Producción Mundial -->
        <div class="slide" id="slide-mundo">
            <h3>PRODUCCIÓN <strong>MUNDIAL</strong> <strong>DE CALABAZA</strong></h3>
            <p align="center">CIERRE AGRÍCOLA 2022</p>
            <iframe src="{% url 'tablas1Ca' %}" width="100%" height="500px" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>
            <div class="map-container">
                <div id="mapa-mundo" class="map"></div>
            </div>
            <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE ORGANIZACIÓN DE LAS NACIONES UNIDAS PARA LA
                ALIMENTACIÓN Y LA AGRICULTURA (FAO), AÑO 2022</p>
        </div>

        <!-- Slide 2: Producción Nacional -->
        <div class="slide" id="slide-mexico">
            <h3>PRODUCCIÓN <strong> NACIONAL DE CALABAZA</strong> </h3>
            <iframe src="{% url 'tablas2Ca' %}" width="100%" height="600PX" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>
            <div class="map-container">
                <div id="mapa-mexico" class="map"></div>
            </div>
            <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</p>
        </div>

        <!-- Slide 3: Balanza Comercial -->
        <div class="slide" id="slide-balanza">
            <h3>BALANZA COMERCIAL <strong>DE CALABAZA DE OAXACA</strong> </h3>
            <p align="center">DESTINO DE LA EXPORTACIÓN 2023</p>
            <iframe src="{% url 'tablas3Ca' %}" width="100%" height="320PX" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>
            <p align="center">VOLUMEN DE COMERCIALIZACIÓN (TON)</p><iframe src="{% url 'graficas1Ca' %}" width="100%"
                height="780PX" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE LA ORGANIZACIÓN DE LAS NACIONES UNIDAS PARA LA
                ALIMENTACIÓN Y LA AGRICULTURA (FAO) Y BANCO DE MÉXICO (BANXICO)</p>
        </div>

        <!-- Slide 4: Producción Histórica -->
        <div class="slide" id="slide-historica">
            <h3>PRODUCCIÓN HISTORICA <strong>DE CALABAZA EN OAXACA</strong></h3>
            <iframe src="{% url 'graficas2Ca' %}" width="100%" height="500" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>
            <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP</p>
        </div>

        <!-- Slide 5: Producción Actual -->
        <div class="slide" id="slide-produccion">
            <h3>PRODUCCIÓN DE <strong>CALABAZA EN OAXACA</strong></h3>
            <h4>CIERRE AGRÍCOLA 2023</h4>
            <iframe src="{% url 'tablas4Ca' %}" width="100%" height="350px" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>

            <iframe src="{% url 'graficas3Ca' %}" width="100%" height="450px" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>
            <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</p>
        </div>

        <!-- Slide 6: Estacionalidad -->
        <div class="slide" id="slide-estadisticas">
            <h3>ESTACIONALIDAD <strong>DE LA PRODUCCIÓN EN OAXACA</strong></h3>
            <br><br>
            <p class="texto">La
                estacionalidad de la producción hace referencia a la frecuencia de meses
                donde se produce calabacitas en el estado de Oaxaca, medido a través del
                índice de volumen físico, es decir, el mes de marzo es cuando se cosecha más
                calabacitas alcanzando 733 puntos de dicho índice.</p>
            <BR><BR>
            <h3>INDICE DE VOLUMEN FISICO (IVF)</h3>
            <iframe src="{% url 'graficas4Ca' %}" width="100%" height="500px" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>
            <p class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</p>
        </div>

        <!-- Slide 7: Municipios productores de piña -->
        <div class="slide" id="slide-oaxaca">
            <h3>MUNICIPIOS QUE PRODUCEN <strong>CALABAZA EN OAXACA</strong></h3>
            <iframe src="{% url 'tablas5Ca' %}" width="100%" height="450px" scrolling="no" frameborder="0"
                allowtransparency="true"></iframe>
            <div class="map-container">
                <div id="mapa-oaxaca" class="map"></div>
            </div>
            <p align="center" class="fuente">FUENTE: ELABORACIÓN PROPIA CON DATOS DE SIAP, CIERRE AGRÍCOLA 2023</p>

        </div>
    </div>

    <!-- Inclusión de fragmento HTML que contiene scripts/mapas adicionales -->
    {% include 'includes/mapas.html' %}

    <!-- Archivo JS adicional para controlar el menú de navegación -->
    <script src="{% static 'js/control-menu.js' %}"></script>
</body>

</html>